.dropdown-container {
  background: #FFFEFE;
  color: #000000;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  padding: 2px;
}

@media only screen and (max-width: 1220px) and (min-width: 1024px){
  .dropdown-container {
    width: 70px;
  }
}