.submenu {
  margin: 0% 6%;

  .submenu-item {
    display: flex;
    align-items: center;
    margin: 6px 0px;
    cursor: pointer;
  }
}

.icon {
  color: white;
  font-size: 14px;
}

.customIconSize {
  color: white;
  margin-left: 20px;
}

.sub-item-text1 {
  justify-self: start;
  align-self: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: white;
  margin-left: 5px;
}