.add-schedule-container {
    // display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto;
    // gap: 15px;
    // width: 615px;
    // height: 400px;
    // height: 315px;
    background: #FFFFFF;
    color: #000000;
    // padding: 15px 30px;
    // margin-top: -50px;
    border-radius: 5px;
    margin: 30px;
}
.time-zone-align{
    margin-left: -30px;
}
.sub-text {
    font-size: 14px;
    font-weight: 500;
    // margin-left: 23px;
    // margin-top: 10px;
}
.card-header {
    width: 600px;
    height: 40px;
    background: rgba(200, 200, 200, 0.3);
    padding-top: 13px;
    .title1 {
        grid-column: 1;
        grid-row: 2;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: #000000;
        padding-left: 25px;
    }
}


.form {
    // margin-top: 15px;
    align-self: start;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-rows: min-content;
    // gap: 10px;
    // margin-bottom: 45px;

    .field {
        display: grid;
        grid-template-columns: 1fr;
        margin: 10px 0px;

        .label {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            // color: #595959;
            // padding-left: 8px;
            // margin-left: 20px;

            span {
                color: #595959;
            }
        }

        input {
            width: 308px;
            height: 35px;
            left: 66px;
            top: 257px;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 21px;
            background: #FFFFFF;
            color: #9A9A9A;
            border: 1px solid #D9D9D9;
            border-radius: 5px;
            padding-left: 12px;
            // margin-left: 25px;
            margin-top: 5px;
        }
        .small-text {
            font-size: 10px;
            margin-top: 2px;
            font-weight: 600;
        }
    }
}
.dropdown-option {
    width: 367px;
    height: 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    padding-left: 12px;
    margin-left: 25px;
     margin-top: 5px;
 }
 .submit {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 7px 16px;
    /* gap: 10px; */
    position: absolute;
    width: 135px;
    height: 35px;
    margin-left: 45px;
    background: #285DD9;
    color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #285DD9;
  }
  
  .cancel {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 7px 16px;
    gap: 10px;
    position: absolute;
    width: 95px;
    height: 35px;
    margin-left: 190px;
    background: #BABFD1;
    color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #BABFD1;
  }
  .footer {
    margin-top: -28px;
    margin-left: -20px;
  }
  .divider {
    height: 0px;
    border: 0.1px solid rgba(200, 200, 200, 0.5);
    margin-top: -25px;
}
.close {
    margin-left: 350px;
    border: 1.5px solid #A2ABAB;
    border-radius: 13px;
    width: 25px;
    height: 25px;
    color: #A2ABAB;
}
