.btn-container {
  display: grid;
  place-content: center;
  width: 113px;
  height: 51px;
  font-weight: 500;
  font-size: 14px;
  color: #595959 !important;
  cursor: pointer;
}

.selected {
  background: #FFFFFF;
  color: #285DD9 !important;
}