<div class="secure-account-container">

    <div *ngIf="showdScheduleLockedWarning" class="warning">
        This instance is protected against schedules. If you wish to apply a schedule, turn the Security OFF.
    </div>

    <div *ngIf="!showdScheduleLockedWarning">
        <div *ngIf="!lockedStatus">If you don't want to let this instance to be scheduled turn on the security below</div>
        <div *ngIf="lockedStatus">This instance is locked If you want to schedule this instance turn off the security below</div>
    </div>

    <div>
        <app-avms-toggle 
        [toggleStatus]="lockedStatus" 
        offLabel="Security OFF"
        onLabel="Security ON"
        (toggleStatusChange)="securityStatusChanged($event)">
        </app-avms-toggle>

    </div>

    <div></div>

</div>