.secure-account-container {
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto min-content;
    gap: 30px;
    background-color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    padding: 20px 30px;
    
    .warning {
        height: 99px;
        background: #FFF0F0;
        border: 1px solid #F41818;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 36px;
        color: #FA0A0A;
        padding: 15px;
        text-justify: center;
        text-align: center;
    }
}
