@import "src/app/styles/_globals.scss";

.getting-started-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 33px;
    row-gap: 40px;
    margin: 6px 18px;
    background: #2A3F54;
    border-radius: 10px;
    padding: 30px 17px;
    width: 94%;
    margin-left: 8px;

    .title {
        grid-column: 1 / -1;
        font-weight: 600;
        font-size: 14px;
        line-height: 29px;
        color: #B9BCCA;
    }

    img {
        justify-content: center;
    }

    .step-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;

        .step-title {
            font-weight: 700;
        }

        .step-link {
            color: rgba(99, 255, 254, 1);
            cursor: pointer;
        }
    }
}