<div class="getting-started-container">

    <span class="title">Getting Started</span>

    <img src="/assets/icons/getting-started-team-cyan.png" alt="team">
    <div class="step-container">
        <div class="step-title">
            <span>KALIBR Cloud Confidence</span>
        </div>
        <div class="step-description">
            <span>Brings a simple approach to reducing your customer’s cloud allocation costs by enabling your teams to
                gain visibility of the current cloud resources, schedule or scale instances when they are idle to avoid
                incurring additional costs to the customer’s bill, and scaling up and down prod and 24x7 resources as
                per your customer's needs.</span>
        </div>
        <div class="step-link">
            <span>Start building your team</span>
        </div>
    </div>

    <img src="/assets/icons/getting-started-account-cyan.png" alt="account">
    <div class="step-container">
        <div class="step-title">
            <span>Cloud Account Setup</span>
        </div>
        <div class="step-description">
            <span>Onboarding your customer’s cloud account gives you visibility into current cloud resources and their
                recommendations so your team can start building schedules (on/off) to be applied based on your
                customer’s needs.
            </span>
        </div>
        <div class="step-link">
            <span [routerLink]="['/accounts']">Onboard your first cloud account.</span>
        </div>
    </div>


    <img src="/assets/icons/getting-started-account-cyan.png" alt="account">
    <div class="step-container">
        <div class="step-title">
            <span>Custom Schedules</span>
        </div>
        <div class="step-description">
            <span>Schedules are used to automatically manage the state of the cloud resources (allocated - ON /
                deallocated - OFF) and therefore save money through scheduling instances. Additionally, you can build
                your schedule times (on/off) to keep your instances running at the right time and stopped when not being
                used.
            </span>
        </div>
        <div class="step-link">
            <span>Create your first custom schedule</span>
        </div>
    </div>


</div>