<div class="scale-instance-container">

    <div>The {{ instanceName }} is using the following size:
        <br /><b>{{ previousSize }} ({{ previousCores }} vcpus, {{ previousMemory }} GB memory)</b>
    </div>

    <div>To apply a different size to the instance, please choose one from the available list below:</div>

    <div class="drop-align">
        <app-avms-dropdown-large [lookup]="scaleOptions" [selectedValue]="selectedSize"
            (selectedValueChange)="scaleChanged($event)"></app-avms-dropdown-large>
    </div>

    <div>
        <span class="hilite">Please note: </span>Prices and final charges will appear in your local currency in cost analysis and billing views on Azure Portal.
    </div>

</div>
