.delete-user-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content auto;
  width: 400px;
  background: #FFFFFF;
  color: #000000;
  border-radius: 5px;
}
.delete-body{
display: flex;
flex-direction: column;
align-items: center;
margin: 40px 80px;
}
.sub-text {
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
}
.main-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  color: #285DD9;
}