
.dropdown-border {
    display: grid;
    background-color: transparent;
    border: 1px solid #E0E7ED;
    border-radius: 8px;
    grid-template-columns: min-content min-content;
    align-items: center;
    width: fit-content;
    padding: 0 10px;
}

.dropdown-container {
    color: rgba(99, 255, 254, 1);
    background-color: transparent;
    border: none;
    padding: 0 6px 0 6px;
    font-size: 12px;
    height: 36px;
    option {
        background-color: rgb(255, 255, 255);
    }
}

select:focus {
    outline: none;
}
