<div class="delete-label-container">
  <div class="profile-form">
    <div class="message">
      <div class="section">
        <div class="label">Label Name <div>:</div> </div>
        <div class="caption">{{name}}</div>
      </div>
      <div class="section">
        <div class="label">Account Names <div>:</div> </div>
        <div class="caption">{{accountName}}</div>
      </div>
      <div class="section">
        <div class="label">Resources <div>:</div></div>
        <div class="caption">{{resource}}</div>
      </div>
    </div>
  </div>
</div>