.refresh-account-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-rows: min-content;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    margin: 20px 30px;

    .provider-icon {
        margin-top: 15px;
    }

    .info {
        margin-top: 13px;
        .title {
            font-weight: 600;
        }
        .text {
            font-weight: 400;
        }
    }
}

