.qlik-breadcrumb {
    padding: 15px;
    z-index: 1;
    position: relative;
}

.qlik-container {
    background: rgba(200, 200, 200, 0.3);
    height: auto;
    width: auto;
    margin: -15px;
}

.icon-position {
    position: absolute;
    margin-left: -30px;
    margin-top: -2px;
}

.header {
    padding: 20px;
    margin-left: 2px;
}

.header-text-align {
    font-size: 18px;
    font-weight: 600;
    padding-left: 50px;
}

.branch-modal {
      padding: 25px;
      font-size: 13px;
      font-weight: 600;
      color: #73879C;
      background: whitesmoke;
      border-top: 2px solid grey;
      padding-left: 45px;
}

.sub-heading {
    font-weight: bold;
}