<div *ngIf="noDataFound" class="qlik-container" fxLayout="column" fxLayout.lt-md="row">
    <div class="header row">
      <div class="header-text-align"><span class="material-icons icon-position">info</span>Data Will Be Available Soon</div>
    </div>
    <div class="responsive-content branch-modal">
      <p class="sub-heading">Current Situation:</p>
      <p>
        As you may have noticed, the Active Intelligence page is currently not displaying data for your account. This is because there are no cloud accounts associated with your new account at the moment.
      </p>
      <p class="sub-heading">Next Steps:</p>
      <p>
        To ensure that you can access valuable insights and trends, we kindly ask you to take the following steps:
      </p>
      <ul>
        <li class="sub-sub-heading">Add Cloud Account:</li>
        <li>
          To start receiving data and insights, please add at least one cloud account using the Accounts Manager. This will enable our systems to gather the necessary data for analysis.
        </li>
        <li class="sub-sub-heading">Allow Processing Time:</li>
        <li>
          Once you have added a cloud account, please allow up to 24 hours for our systems to discover historical data, perform comprehensive analysis, and generate meaningful insights and trends.
        </li>
      </ul>
      <p class="sub-heading">Why the Delay:</p>
      <p>
        We believe in providing you with accurate and actionable information. The 24-hour processing time is crucial to ensure that the insights we offer are based on a thorough analysis of your data. This period allows us to deliver valuable information that aligns with your business needs.
      </p>
      <p class="sub-heading">Stay Informed:</p>
      <p>
        We understand your eagerness to access the data, and we appreciate your patience during this brief waiting period. Rest assured, once the analysis is complete, you'll have access to a wealth of insights to drive your decision-making process.
      </p>
      <p>
        Thank you for your understanding and cooperation. If you have any further questions or concerns, please don't hesitate to reach out to our support team.
      </p>
    </div>
    </div>
<iframe *ngIf="!noDataFound" id="iframe" [src]="iframe_src" class="iframeStyle"></iframe>
