.add-user-container {
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto min-content;
    // gap: 30px;
    // background-color: rgba(46, 57, 68, 1);
    // background-color: rgba(46, 57, 68, 1);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    // color: #FEFEFE;
    // color: #FEFEFE;
    // padding: 15px 43px;
    // padding: 15px 43px;

    .section { 
        margin-bottom: 10px;
    }

    h2 {
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 5px;
    }

    .label {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }

    .caption {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 11px;
    }

    .purple {
        color: #FD2AF4;
    }

    .warning {
        height: 99px;
        background: #FFF0F0;
        border: 1px solid #F41818;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #FA0A0A;
        padding: 15px;
        text-justify: center;
        text-align: center;
    }
    
    .final {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        padding: 12px 0px 12px 20px;
        gap: 8px;
        background: #D4EDDA;
        border: 1px solid #C3E6CB;
        border-radius: 4px;
    
        .title {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #155724;
        }
    
        .message {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #155724;
        }
    }
}


.profile-form {
    // display: grid;
    grid-template-columns: auto 283px;
    // padding-top: 25px;
    // padding-left: 28px;
    // padding-right: 28px;
    padding: 20px 30px;
    .photo{
        margin-top: 33px;
        text-align: end;
    }
}

.hilite {
    border-radius: 8px;
    font-weight: 600;

    &-green {
        @extend .hilite;
        color: rgba(24, 171, 86, 1)!important;
    }

    &-red {
        @extend .hilite;
        color: rgba(235, 87, 87, 1)!important;
    }

    &-red-bold {
        @extend .hilite;
        color: rgba(235, 87, 87, 1)!important;
        font-weight: bold;
    }
}