
.dropdown-border {
    display: grid;
    background-color: transparent;
    border-radius: 8px;
    grid-template-columns: min-content min-content;
    align-items: center;
    width: fit-content;
    margin-left: 30px;
}

.dropdown-container {
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid rgba(22, 31, 38, 0.2);
    padding: 0 6px 0 6px;
    font-size: 12px;
    margin-top: 4px;
    height: 35px;
    width: 308px;
    option {
        background-color: rgb(255, 255, 255);
    }
}

select:focus {
    outline: none;
}

