.scaling-schedule-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content auto;
    gap: 15px;
    height: 90%;
    background-color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FEFEFE;
    padding: 15px 30px;
    
    .warning {
        height: 54px;
        background: #FFF0F0;
        border: 1px solid #F41818;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        // line-height: 36px;
        color: #FA0A0A;
        // padding: 15px;
        // text-justify: center;
        text-align: center;
    }

}

.form {
    align-self: start;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-rows: min-content;
    margin: 10px;
    padding: 15px;
    font-size: 14px;
    background: whitesmoke;
    border-radius: 4px;

    .field {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 10px;

        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        // color: #FEFEFE;
        color: #000000;

        .label {
            margin-bottom: 10px;
        }

    }
}
