.input-wrapper {
    display: flex;
    align-items: center;
    width: 200px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #CED4DA;
    border-radius: 4px;
    // margin-left: 9px;
    padding: 0px 10px;

    input {
        border: none;
        outline: none;
        background: none;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #6C757D;
    }

    img {
        cursor: pointer;
    }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #6C757D;
    opacity: 0.5; /* Firefox */
  }
    
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #6C757D;
    opacity: 0.5;
  }
