
<div class="nav-item" (click)="expandMenu('')">
    <img src="/assets/icons/expand.png" alt="expand" class="icon">
    <span class="tooltip-container">
        <app-tooltip tooltipText="Expand menu"></app-tooltip>
    </span>
</div>

<div (mouseover)="mouseOver()" class="hoverable">

    <div class="nav-item" (click)="expandMenu('cloud')">
        <img src="/assets/icons/setting.png" alt="cloud" class="icon">
        <span class="tooltip-container">
            <app-tooltip tooltipText="Cloud & Resources"></app-tooltip>
        </span>
    </div>
    
    <div class="divider"></div>
    
    <div class="nav-item" (click)="navigateTo('recommendations')">
        <img src="/assets/icons/recommendation.png" alt="recommendation" class="icon">
        <span class="tooltip-container">
            <app-tooltip tooltipText="Recommendations"></app-tooltip>
        </span>
    </div>
    
    <div class="divider"></div>
    
    <div class="nav-item" (click)="navigateTo('labels')">
        <img src="/assets/icons/label.png" alt="label" class="icon">
        <span class="tooltip-container">
            <app-tooltip tooltipText="Labels"></app-tooltip>
        </span>
    </div>
    
    
    <div class="divider"></div>
    
    <div class="nav-item" (click)="navigateTo('schedules')">
        <img src="/assets/icons/schedule.png" alt="schedule" class="icon">
        <span class="tooltip-container">
            <app-tooltip tooltipText="Schedules"></app-tooltip>
        </span>
    </div>
    
    <div class="divider"></div>
    
    <div class="nav-item" (click)="expandMenu('reports')">
        <img src="/assets/icons/report.png" alt="report" class="icon">
        <span class="tooltip-container">
            <app-tooltip tooltipText="Reports"></app-tooltip>
        </span>
    </div>
    
    <!-- <div class="divider"></div>
    
    <div class="nav-item" (click)="expandMenu('audit')">
        <img src="/assets/icons/audit.png" alt="audit" class="icon">
        <span class="tooltip-container">
            <app-tooltip tooltipText="Audit"></app-tooltip>
        </span>
    </div> -->
    
    <div class="divider"></div>
    
    <div class="nav-item" (click)="expandMenu('more')">
        <img src="/assets/icons/more-horizontal.png" alt="more" class="icon">
        <span class="tooltip-container">
            <app-tooltip tooltipText="More"></app-tooltip>
        </span>
    </div>
    
</div>
