@import "src/app/styles/_globals.scss";

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3px;
    gap: 22px;
}

.hoverable {
  display: contents;
}

.divider {
    width: 88px;
    height: 0px;
    border: 1px solid #8A8F9D;
    flex: none;
}


.nav-item {
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    cursor: pointer;
  }
  
  .nav-item .tooltip-container {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
  }
  
  .nav-item:hover .tooltip-container {
    visibility: visible;
  }


@media only screen and (max-width: $bp-extra-large) {
  .divider {
    width: 70px;
  }
}
