<div class="add-account-azure-container">
    <div class="sub-text">
        The information below is available at the Azure Portal, complete the fields to ADD your Account, please.
    </div>
  <form [formGroup]="reactiveForm">
<div class="form">
    <div class="field">
        <div class="label">Account Friendly Name <span>(*)</span></div>
        <input type="text" formControlName="accountName"  placeholder="Input your desired name for the account" [(ngModel)]="account.name" (ngModelChange)="update()" required>
        <div *ngIf="reactiveForm.controls['accountName'].hasError('required') && reactiveForm.controls['accountName'].touched">
        <span class="error">Account Friendly Name is required</span>
        </div>
    </div>
    <div class="field">
        <div class="label">Azure Tenant Domain<span>(*)</span></div>
        <input type="text" formControlName="azureTenant" placeholder="Input your <domain> .onmicrosoft.com" [(ngModel)]="account.tenant_domain" (ngModelChange)="update()" required>
        <div *ngIf="reactiveForm.controls['azureTenant'].hasError('required') && reactiveForm.controls['azureTenant'].touched">
        <span class="error">Azure Tenant Domian is required</span>
        </div>
        </div>
    <div class="field">
        <div class="label">App Client ID <span>(*)</span></div>
        <input type="text" formControlName="appClientId" placeholder="Input your Azure ID App Client ID" [(ngModel)]="account.client_id" (ngModelChange)="update()" required>
        <div *ngIf="reactiveForm.controls['appClientId'].hasError('required') && reactiveForm.controls['appClientId'].touched">
        <span class="error">App Client ID is required</span>
        </div>    
        </div>
    <div class="field">
        <div class="label">App Client Key <span>(*)</span></div>
        <input type="text" formControlName="appClientKey" placeholder="Input your Azure ID App Client Key" [(ngModel)]="account.client_secret" (ngModelChange)="update()" required>
        <div *ngIf="reactiveForm.controls['appClientKey'].hasError('required') && reactiveForm.controls['appClientKey'].touched">
        <span class="error">App Client Key is required</span>
        </div>    
        </div>
      <div class="buttons">
          <button type="submit" class="submit" (click)="onSubmit()">Confirm</button>
          <button type="cancel" class="cancel" (click)="dialogclose()" >Cancel</button>
      
        </div>
</div>
</form>
</div>
<!-- <div class="divider"></div>
<div class="footer">
    <button type="submit" class="submit" (click)="dialogclose()" >Confirm</button>
      <button type="cancel" class="cancel" (click)="dialogclose()" >Cancel</button>

</div> -->