<!-- <div class="edit-label-container">
    <div class="message">
        <div class="section">
            <div class="label">Label Name:</div>
        </div>
        <div class="section">
            <input type="text" placeholder="please input the label name" [(ngModel)]="name">
        </div>
        <div class="section">
            <div class="label">Account Names:</div>
        </div>
        <div class="section">
            <app-avms-dropdown-large [lookup]="availableAccounts" (selectedValueChange)="accountChanged($event)"></app-avms-dropdown-large>
        </div>
        <div class="section">
            <div class="label">Resources:</div>
        </div>
        <div class="section">
            <app-avms-dropdown-large [lookup]="availableResources" [selectedValue]="selectedResource" (selectedValueChange)="resourceChanged($event)"></app-avms-dropdown-large>
        </div>
    </div>
</div> -->
<div class="edit-label-container">
    <div class="card-header">
        <span class="title1">Edit Label</span>
        <button type="button" class="close" data-dismiss="modal" (click)="dialogclose()">&times;</button>
</div>
<div class="body">
    <div class="form">
        <div class="field">
            <div class="label">Label Name<span>(*)</span></div>
            <input type="text" [(ngModel)]="name">
        </div>
        <div class="field">
            <div class="label">Account Name </div>
            <select class="dropdown-option" onchange="accountChanged($event)">
                <option></option>
                  <!-- <option *ngFor="let item of timezoneOptions" [selected]="selectedTimezone">
                    {{item.description}}
                  </option> -->
                </select>
        </div>
        <div class="field">
            <div class="label">Tenant Name</div>
            <select class="dropdown-option" onchange="tenantChanged($event)">
                <option></option>
                  <!-- <option *ngFor="let item of availableTenants" [selected]="selectedTenant">
                    {{item.description}}
                  </option> -->
                </select>
        </div>
        <div class="field">
            <div class="label">Subscription Name</div>
            <select class="dropdown-option" onchange="subscriptionChanged($event)">
                <option></option>
                  <!-- <option *ngFor="let item of availableSubscriptions" [selected]="selectedSubscription">
                    {{item.description}}
                  </option> -->
                </select>
        </div>
        <div class="field">
            <div class="card1">
                <div class="row">
                    <div class="column">
                      <!-- <h2>Column 1</h2>
                      <p>Some text..</p> -->
                    </div>
                    <div class="column">
                      <!-- <h2>Column 2</h2>
                      <p>Some text..</p> -->
                    </div>
                  </div>
        </div>
    </div>
    </div>
    <div class="divider"></div>
    <div class="footer">
        <button type="submit" class="submit" >Save</button>
          <button type="cancel" class="cancel" (click)="dialogclose()">Cancel</button>

    </div>
        <!-- <div class="section">
            <div class="label">New Label <span>(*)</span></div>
        </div>
        <div class="section">
            <input type="text" placeholder="please input the label name" [(ngModel)]="name">
        </div>

        <div class="section">
            <div class="label">Select one account</div>
        </div>
        <div class="section">
            <app-avms-dropdown-large [lookup]="availableAccounts" (selectedValueChange)="accountChanged($event)"></app-avms-dropdown-large>
        </div>
      
        <div class="section">
            <div class="label">Select one tenant</div>
        </div>
        <div class="section">
            <app-avms-dropdown-large [lookup]="availableTenants" (selectedValueChange)="tenantChanged($event)"></app-avms-dropdown-large>
        </div>
      
        <div class="section">
            <div class="label">Select one subscription</div>
        </div>
        <div class="section">
            <app-avms-dropdown-large [lookup]="availableSubscriptions" (selectedValueChange)="subscriptionChanged($event)"></app-avms-dropdown-large>
        </div>


        <div class="select-container">

            <div class="left">

                <div class="section">
                    <div class="label">Resources</div>
                </div>

                <div class="section">
                    <app-avms-dropdown-large [lookup]="availableResources" (selectedValueChange)="resourceChanged($event)"></app-avms-dropdown-large>
                </div>
                
            </div>

            <div class="right">
                <div class="section">
                    <div class="label">Selected resources. Click to remove.</div>
                </div>
                <div class="section">
                    <div *ngFor="let item of selectedResources" (click)="removeFromList(item.id)">{{ item.description }}</div>
                </div>
            </div>

        </div> -->
</div>
