.schedules-container {
padding: 0px 15px;
}
.schedule-table-background{
  box-shadow: unset;
}
.head-button-align{
  padding-left: 6px;
}
.custom-action{
  border: none;
  background: none;
  margin: 0px;
  padding: 0px;
}
.action-button-align{
  margin-left: 20px;
}
.schedules-header {
  // display: grid;
  // grid-template-columns: 1fr auto;
  // align-items: center;
//   grid-gap: 10px;

//   .text-icon {
//     display: grid;
//     grid-template-columns: auto auto;
//     align-items: center;
    // grid-gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 53px;

    .text-icon {
        display: grid;
        align-items: center;
        justify-items: end;
        gap: 10px;
        cursor: pointer;
        // margin-top: -36px;
        text-align: center;
        button {
            font-weight: 400;
            font-size: 14px;
            color: #FFFFFF;
            background: #285DD9;
            border-radius: 5px;
            border: none;
            // width: 170px;
            height: 35px;
            display: flex;
            align-items: center;
            padding: 7px 18px;
        }
        
        span {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            text-align: right;
            letter-spacing: -0.01em;
            color: #6DFAD8;
        }
  }

  .right {
    grid-column: 2;
  }
}


.schedules-table-host {
  display: grid;
  gap: 15px;
  background: #FFFFFF;
  border-radius: 5px;
  border: 1px solid rgba(200, 200, 200, 0.3);
  box-shadow: 0 0px 5px rgb(32 33 36 / 10%);
  margin-top: 8px;

  .title {
    // grid-row: 2;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 27px;
    color: #161F26;
    font-family: 'Poppins';
  }
}

.title {
  // grid-row: 2;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 27px;
  color: #161F26;
  font-family: 'Poppins';
}

.schedules-table-container {
  background-color: rgba(255, 255, 255, 0.25);
  margin-top: 20px;
  padding: 15px;
  border-radius: 12px;
}

.schedules-table-controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: center;
  margin: 10px 20px;
  gap: 21px;

  &__left {
    @extend .schedules-table-controls;
    justify-self: start;
    margin: 0;
  }

  &__right {
    @extend .schedules-table-controls;
    justify-self: end;
    align-items: center;
    font-size: 12px;
    font-weight: 400;

    .bold {
      font-weight: 600;
    }
  }
}

.schedules-table {
  grid-template-columns: auto repeat(8, 1fr) max-content;
  border: 1px solid rgba(200, 200, 200, 0.3);
  background: rgba(238, 238, 238, 0.3);
  margin-left: 15px;
  margin-right: 15px;
  // margin-bottom: 15px;
  border-radius: 5px;
}

.header-column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 2px;
  gap: 5px;
  background-color: #F9F9F9;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  color: #333333;
  width: 100%;
  height: 56px;
}

.corner-top-left {
  border-radius: 16px 0 0 0;
  padding: 0;
}

.corner-top-right {
  border-radius: 0 16px 0 0;
  padding: 0;
  width: 77px;
}

.table-row {
  display: contents;
  font-size: 11px;
  color: #333333;
}

.table-row div {
  padding: 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  color: #333333;
}

.table-row:hover>div {
  background-color: rgba(224, 231, 237, 1);
  ;
}

.divider {
  grid-column: 1/-1;
  padding: 0;
  border-bottom: 1px solid #E0E7ED;
  width: 100%;
}

.trending {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  place-items: center;
  font-size: 14px;
  font-weight: 600;

  &-up {
    @extend .trending;
    color: rgba(24, 171, 86, 1);
  }

  &-down {
    @extend .trending;
    color: rgba(255, 0, 0, 0.71);
  }
}

.row-controls {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.hilite {
    padding: 8px;
    font-weight: 600;

    &-green {
        @extend .hilite;
        color: rgba(24, 171, 86, 1);
    }

    &-red {
        @extend .hilite;
        color: rgba(235, 87, 87, 1);
    }
}


.per-page-dropdown-container {
  background-color: #FFFFFF;
  color: #000000;
  padding-left: 6px;
  border: 1px solid rgba(22, 31, 38, 0.2);
  border-radius: 5px;
  font-size: 12px;
  height: 30px;
  width: 55px;
}


.schedules-table-navigation {
  justify-self: end;
}


.tooltip-host {
  position: relative;
  display: inline-block;

  .tooltip-container {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    top: -55px;
    left: -11px;
  }

  &:hover .tooltip-container {
    visibility: visible;
  }

}

.card1 {
  height: 53px;
  background: rgba(200, 200, 200, 0.3);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title1 {
    // grid-column: 1;
    // grid-row: 2;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    // padding-left: 15px;
    // padding-top: 5px;
  }

  // .filter {
  //   background: #ffffff;
  //   border-radius: 5px;
  //   margin-left: 830px;
  //   width: 152px;
  //   margin-top: -6px;
  //   border: 1px solid rgba(22, 31, 38, 0.2);
  // }
}

.demo-paginator {
  // width: 600px;
  // margin-top: -35px;
  // height: 0px !important;
  // margin-left: 250px;
  font-family: 'Poppins';
  align-items: center;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #161F26;
}

.text-text {
  margin-top: 10px;
}

.paginator1 {
  margin-left: 275px;
  margin-top: 20px;
}

.paginator2 {
  margin-left: 472px;
  margin-top: -25px;
}

.footer-button {
  width: 31px;
  height: 31px;
  /* border: 1px solid #005ECD; */
  border: 1px solid #005ECD;
  border-radius: 100px;
  background: #FFFFFF;
  color: #005ECD;
  margin: 5px;

  .active {
    background: #005ECD;
    color: #FFFFFF;
  }
}

table {
  width: 100% !important;
  // table-layout: fixed;
}

td.no-data {
  padding-left: 45%;
}

.table-icon {
  padding: 10px;
  cursor: pointer;
}

.schedules-breadcrumbs {
  margin-left: -7px;
}

a {
  color: rgb(48, 10, 189);
  cursor: pointer;
}

@media only screen and (device-width: 768px){
  .demo-paginator{
    margin-left: 0px;
  }
  .schedules-table{
    width: 157%;
  }
  .table-align{
    width: 100%;
    overflow-x: scroll;
  }
}
.tables-container {
  max-height: 460px;
  overflow-y: scroll;
  overflow-x: hidden;
}