<!-- 
<div class="delete-schedule-container">
<div class="body">
        <div class="icon-danger"><img src="/assets/images/danger.svg" alt="danger"></div>
    <div class="main-text">
        Delete “Live Schedule”</div>
    <div class="body sub-text">Are you sure you want to delete “Live Schedule”</div>
</div>
</div> -->
<div class="delete-schedule-container">

    <div *ngIf="step==='first'" class="warning">
        By deleting the selected schedule all scheduled resources will lose the associated schedule and will no longer save you money.
    </div>

    <div>Schedule Details:</div>

    <div class="form">
        <div class="field">
            <div class="label">Schedule Name <span>(*)</span></div>
            <div class="text">{{ name }}</div>
        </div>
        <div class="field">
            <div class="label">Schedule Description </div>
            <div class="text">{{ description }}</div>
        </div>
        <div class="field">
            <div class="label">Timezone <span>(*)</span></div>
            <div class="text">{{ timezone }}</div>
        </div>
    </div>

</div>
