.container {
  width: 610px;
  margin-left: -24px;
  overflow: hidden;
}

.title {
  font-size: 14.3px;
  margin-left: 15px;
}

.close-button {
  background: none !important;
  box-shadow: none !important;
  background-color: none !important;
  top: -8px;
  color: black;
  font-size: 11px;
  float: right;
}

.close {
  background: none !important;
  box-shadow: none !important;
  background-color: none !important;
  font-size: 18px;

}

.warning {
  background: #FFF0F0;
  border: 1px solid #F41818;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  color: #FA0A0A;
  text-justify: center;
  text-align: center;
  word-wrap: normal;
  margin-top: 15px;
}

.print {
  font-size: 11.5px;
  padding: 15px 15px 10px 15px;
}

.branch-modal {
  margin: 15px;
  padding: 3px;
  padding-left: 10px;
  font-size: 11.5px;
  font-weight: 500;
  color: black;
  background: white;
  border: 1px solid #A3A3A3;
  border-radius: 4px;
  width: 520px;
  position: relative;
  overflow: visible;
}

.tcDescription {
  width: calc(100% - 20px);
  max-height: calc(90vh - 300px);
  overflow-y: scroll;
  margin-right: -60px;
  padding-right: 60px;
  box-sizing: content-box;
}

.agree {
  font-size: 11.5px;
  display: flex;
  padding: 0 20px;
  justify-content: flex-start;
  align-items: center;
}

::ng-deep .checkbox .mat-checkbox-inner-container,
::ng-deep .checkbox .mat-checkbox-frame,
::ng-deep .checkbox .mat-checkbox-layout {
  height: 16px !important;
  width: 16px !important;
}

::ng-deep .checkbox .mat-checkbox-layout .mat-checkbox-label {
  line-height: 16px !important;
}

::ng-deep .mat-checkbox.mat-accent .mat-ripple-element {
  background-color: #285DD9 !important;
}

::ng-deep .mat-checkbox.mat-accent.mat-checkbox-checked .mat-checkbox-background {
  background-color: #285DD9;
}


.card-actions {
  display: flex;
  justify-content: flex-end;
  padding-top: 50px;
}

.mat-card-actions button {
  border: 1px solid #89a6ea;
  background-color: white;
  margin-right: 10px;
  color: #7598e7;
  border-radius: 15px;
  width: 100px;
  justify-content: space-between;
}

.mat-card-actions .print-button {
  border: 1px solid #89a6ea;
  background-color: white;
  margin-right: 10px;
  color: #7598e7;
  border-radius: 15px;
  width: 80px;
  justify-content: space-between;
}

.mat-card-actions .accept-button {
  background-color: #285dd9;
  color: rgb(235, 233, 233);
  width: 100px;
}

.mat-card-actions button:hover {
  background-color: #002b8e;
  color: rgb(235, 233, 233);
  ;
}




.tcDescription::-webkit-scrollbar {
  width: 8px;
  background-color: #E5E5E5;
}


.tcDescription::-webkit-scrollbar-thumb {

  background-color: #285DD9;
  width: 8px;
  height: 50%;
  border-radius: 5px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.tcDescription::-webkit-scrollbar-button {
  display: none;
}