<div class="container-fluid" [ngClass]="wide?'wide':'narrow'">
    <div class="row">
        <div class="col-md-4">
            <div class="icon">
                <ng-content select=[icon]></ng-content>
                <div class="vertical-divider"></div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="text-value">
                <div class="value">
                    <ng-content select=[value]></ng-content>
                </div>
                
                <div class="text">
                    <ng-content select=[text]></ng-content>
                </div>
            </div>
        </div>
    </div>
</div>
