<div class="refresh-account-container">

    <div class="legend">
        If you want to do a HARD refresh on your account from the provider below, please confirm.
    </div>

    <div class="info">
        <div class="title">{{ localTitle }}</div>
        <div class="text">{{ localText }}</div>
    </div>

    <img class="provider-icon" src="/assets/images/azure.svg" alt="azure">

    <!-- <div class="info">
        <span class="title">{{ remoteTitle }}</span>
        <span class="text">{{ remoteText }}</span>
    </div> -->

</div>
