<div class="scaling-schedule-container">

    <div class="warning">By deleting the selected schedule the resize process will no longer be active and the current
        size will remain as is.<br />Do you wish to continue? </div>

    
    <span>Schedule Details</span>
    <div class="form">
        <div class="field">
            <div class="label">Actual Size:</div>
            <div>{{ scalingScheduleSize }}</div>
        </div>
        <div class="field">
            <div class="label">New Size:</div>
            <div>{{ scalingScheduleNewSize }}</div>
        </div>
        <div class="field">
            <div class="label">Timezone:</div>
            <div>{{ timezoneName }}</div>
        </div>
    </div>

</div>