<!-- <div class="menu-logo">
    <img src="/assets/icons/menu.png" alt="menu" class="menu-icon"  (click)="expandMenu('')">
    <img src="/assets/images/kalibr8-logo-white.png" alt="logo" class="logo" [routerLink]="['/']">
</div> -->
<!-- <div class="title"></div>
<div></div>
<input type="text" placeholder="Search" class="search-input">
<div class="search-button">search</div>
<div class="user-controls">
    <div class="tooltip-host">
        <img src="/assets/icons/user-mgmt-cyan.png" alt="user management" [routerLink]="['profile/userslist']" style="cursor: pointer;">
        <span class="tooltip-container">
            <app-tooltip [tooltipText]="'User management'" tooltipPosition="bottom"></app-tooltip>
        </span>
    </div>
    <div class="tooltip-host">
        <a href="mailto:support@kalibr8.io" style="padding-top: 5px;">
            <img src="/assets/icons/support-cyan.png" alt="support" >
        </a>
        <span class="tooltip-container">
            <app-tooltip [tooltipText]="'Support'" tooltipPosition="bottom"></app-tooltip>
        </span>
    </div>
    <div class="tooltip-host">
        <img src="/assets/icons/user.png" alt="user" (click)="openUserMenu()" style="cursor: pointer;">
        <span class="tooltip-container">
            <app-tooltip [tooltipText]="'My profile'" tooltipPosition="bottom"></app-tooltip>
        </span>
    </div>
    <app-dropdown-menu *ngIf="showUserMenu" (closeComponentEvent)="closeUserMenu()"></app-dropdown-menu>
</div> -->
