@import "src/app/styles/_globals.scss";

:host {
    display: grid;
    grid-template-columns: auto auto 275px 3fr auto 1fr;
    column-gap: 15px;
    align-items: center;
    margin: 10px;
}

.menu-logo {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin-left: 15%;
    margin-top: 15px;
}

.menu-icon {
    display: none;
}

.logo {
    height: 30px;
    cursor: pointer;
}

.partner-logo {
    visibility: hidden;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.search-input {
    visibility: hidden;
    height: 36px;
    border: 1px solid #CED4DA;
    border-radius: 4px;
    padding-left: 12px;
}

.search-button {
    visibility: hidden;
    background-color: #3C67B2;
    border-radius: 4px;
    padding: 5px 20px 5px 20px;
}

.user-controls {
    justify-self: end;
    align-self: center;
    grid-template-columns: auto auto auto;
    display: grid;
    gap: 20%;
    place-items: center;
    margin-right: 20% !important;
}


@media only screen and (max-width: $bp-extra-large) {
    :host {
        grid-template-columns: auto auto 180px 3fr auto 1fr;
    }
    
}


@media only screen and (max-width: $bp-large) {
    :host {
        grid-template-columns: auto auto 100px 3fr auto 1fr;
    }
    
    .title {
        font-size: 24px;
    }

    .partner-logo {
        width: 95px;
    }


    .search-button {
        padding: 5px 10px 5px 10px;
    }

    .menu-icon {
        display: unset;
    }
}


@media only screen and (max-width: $bp-medium) {
    :host {
        grid-template-columns: auto auto 100px auto auto 1fr;
    }

    .title {
        font-size: 24px;
    }

    .partner-logo {
        width: 95px;
    }

    .search-input {
        width: 170px;
    }

    .search-button {
        padding: 5px 10px 5px 10px;
    }
}

.tooltip-host {
    position: relative;
    display: inline-block;

    .tooltip-container {
        visibility: hidden;
        position: absolute;
        z-index: 1;
        top: 40px;
        left: -70px;
    }

    &:hover .tooltip-container {
        visibility: visible;
    }

}