@import "src/app/styles/_globals.scss";

.container-fluid {
    // display: grid;
    // grid-template-columns: auto 1fr;
    // grid-template-rows: auto 1fr;
    height: 95px;
    background: #F5F6FA;
    border-radius: 5px;
    margin: 6px;

}

.icon {
    // grid-column: 1;
    // grid-row: 1 / -1;
    // place-self: center;
    // margin: 10px;
    margin-left: -8px;
}

.value {
    font-size: 25px;
    line-height: 38px;
    font-weight: 500;
    color:  #285DD9;
    margin-top: 10px;
}

.text {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #161F26;
    margin-right: 5px;
}

.wide {
    max-width: 230px;
}

.narrow {
    max-width: 100%;
    margin-top: 8px;
    max-height: 80px;
    margin-left: 0px;
    width: 100%;
    .value {
        font-size: 32px;
        line-height: 32px;
    }
    .text {
        font-size: 12px;
        line-height: 14px;
    }
}

.text-value {
    display: flex;
    flex-direction: column;
}



// @media only screen and (max-width: $bp-extra-large) {
//     .value {
//         font-size: 34px;
//         line-height: 34px;
//     }
//     .text {
//         font-size: 12px;
//     }
// }

// @media only screen and (max-width: $bp-large) {
//     .value {
//         font-size: 24px;
//     }
//     .text {
//         font-size: 11px;
//     }
// }
// .vertical-divider {
    // grid-column: 3;
    // grid-row: 2 / -1;
    // width: 1px;
    // height: 100%;
    // background-color: red;
    // border: 1px solid #8A8F9D;
    // margin: 10px;
// }