<div class="add-label-container">
  <div class="labels-header">
    <div>
    <div class="schedules-breadcrumbs">
        <app-avms-breadcrumbs [breadcrumbs]="breadcrumbs"></app-avms-breadcrumbs>
    </div>
    </div>
  <div class="card">
  <span *ngIf="!editing" class="title1">Add Label</span>
  <span *ngIf="editing" class="title1">Edit Label</span>
  </div>
  <div class="body">
    <div class="form-align">
    <div class="form">
      <div class="field">
        <div *ngIf="!editing" class="label new-label">New Label <span>(*)</span></div>
        <div *ngIf="editing" class="label new-label">Label Name</div>
        <input type="text" [(ngModel)]="name">
      </div>
      <div class="align-flex1">
      <div class="account-dropdown">
      <div class="field">
        <div class="label1">Select Account </div>
        <div class="fields-align">
        <app-avms-dropdown-small [lookup]="availableAccounts" (selectedValueChange)="accountChanged($event)"
          class="content1"></app-avms-dropdown-small>
          </div>
      </div>
      </div>
      <div class="tenant-dropdown">
      <div class="field">
        <div class="label1">Select Tenant </div>
        <div class="fields-align">
        <app-avms-dropdown-small [lookup]="availableTenants"
          (selectedValueChange)="tenantChanged($event)"></app-avms-dropdown-small>
          </div>
      </div>
      </div>
      <div class="subscription-dropdown">
      <div class="field">
        <div class="label1">Select Subscription </div>
        <div class="fields-align">
        <app-avms-dropdown-small [lookup]="availableSubscriptions"
          (selectedValueChange)="subscriptionChanged($event)"></app-avms-dropdown-small>
          </div>
      </div>
    </div>
    <div class="resource-dropdown">
      <div class="field">
        <div class="label1">Select Resource Group </div>
        <div class="fields-align">
        <app-avms-dropdown-small [lookup]="resourceGroupLookup"
        (selectedValueChange)="resourceGroupSelected($event)"></app-avms-dropdown-small>
          </div>
      </div>
    </div>
    </div>
    <div class="align-flex">
      <div class="select-container">
        <div>
          <div class="section1">
            <div class="label">Available Instances</div>
          </div>
          <div *ngIf="availableResources.length>0" class="instance-list">
            <ol>
            <li *ngFor="let item of availableResources" (click)="addResource(item.id)"
              [ngClass]="+item.id<0?'subscription':'instance'" id="cols">
              {{ item.description }}
              <!-- <span class="closebtn">&check;</span> -->
              <!-- <span class="bi bi-check-circle"></span> -->
              <!-- <mat-icon class="customIconSize">check_circle</mat-icon> -->
              <i class="fa fa-check-circle" aria-hidden="true"></i>
            <li>
            </ol>
          </div>
        </div>
        </div>
        <div class="select-container1">
        <div>
          <div class="section selected-list">
            <div class="label">Selected Instances</div>
          </div>
          <div *ngIf="selectedResources.length>0" class="instance-list">
            <ol>
            <li *ngFor="let item of selectedResources" 
              [ngClass]="+item.id<0?'subscription':'instance'">
              {{ item.description }}
              <i class="fa fa-times-circle" (click)="removeFromList(item.id)" aria-hidden="true"></i>
          </li>
        </ol>
          </div>
        </div>
      </div>
      </div>
      <!-- <div class="field">
        <div class="card1">
          <div class="row">
            <div class="column1">
              <div class="label1">Available Instances</div>
              <div *ngIf="availableResources.length>0" class="instance-list">
                <div *ngFor="let item of availableResources" (click)="addResource(item.id)"
                  [ngClass]="+item.id<0?'subscription':'instance'">
                  {{ item.description }}
                </div>
              </div>
            </div>
          </div>
          <div class="column2">
            <div class="label1">Selected Instances </div>
            <div *ngIf="selectedResources.length>0" class="instance-list">
              <div *ngFor="let item of selectedResources" (click)="removeFromList(item.id)"
                [ngClass]="+item.id<0?'subscription':'instance'">
                {{ item.description }}
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    </div>
    <div class="footer">
    <div class="primary-button" (click)="save()">Save</div>
    <div class="cancel-button" [routerLink]="['/labels']">Cancel</div>
    </div>
  </div>
</div>
<!-- <div class="label-details-container">
    <div class="label-details-header">
        <div>
            <app-avms-breadcrumbs [breadcrumbs]="breadcrumbs"></app-avms-breadcrumbs>
        </div>
        <div class="text-icon">
            <span></span>
            <img src="/assets/icons/download.png" alt="download">
        </div>
        <div class="title">{{ name }}</div>
    </div>


    <div class="label-details-table-host">
        <span class="title">Add/remove instances from label</span>
        <div class="add-label-container">
            <div class="message">

                <div class="section">
                    <div *ngIf="!editing" class="label">New Label <span>(*)</span></div>
                    <div *ngIf="editing" class="label">Label Name</div>
                </div>
                <div class="section">
                    <input type="text" placeholder="please input the label name" [(ngModel)]="name">
                </div>

                <div class="section">
                    <div class="label">Select one account</div>
                </div>
                <div class="section">
                    <app-avms-dropdown-large [lookup]="availableAccounts"
                        (selectedValueChange)="accountChanged($event)">
                    </app-avms-dropdown-large>
                </div>

                <div class="section">
                    <div class="label">Select one tenant</div>
                </div>
                <div class="section">
                    <app-avms-dropdown-large [lookup]="availableTenants" (selectedValueChange)="tenantChanged($event)">
                    </app-avms-dropdown-large>
                </div>

                <div class="section">
                    <div class="label">Select one subscription</div>
                </div>
                <div class="section">
                    <app-avms-dropdown-large [lookup]="availableSubscriptions"
                        (selectedValueChange)="subscriptionChanged($event)"></app-avms-dropdown-large>
                </div>


                <div class="select-container">

                    <div>

                        <div class="section">
                            <div class="label">Available Instances</div>
                        </div>

                        <div *ngIf="availableResources.length>0" class="instance-list">
                            <div *ngFor="let item of availableResources" (click)="addResource(item.id)"
                                [ngClass]="+item.id<0?'subscription':'instance'">
                                {{ item.description }}
                            </div>
                        </div>

                    </div>

                    <div>
                        <div class="section">
                            <div class="label">Selected Instances</div>
                        </div>

                        <div *ngIf="selectedResources.length>0" class="instance-list">
                            <div *ngFor="let item of selectedResources" (click)="removeFromList(item.id)"
                                [ngClass]="+item.id<0?'subscription':'instance'">
                                {{ item.description }}
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div class="footer">
                <div class="cancel-button" [routerLink]="['/labels']">Cancel</div>
                <div class="primary-button" (click)="save()">SAVE</div>
            </div>

        </div>
    </div>


</div> -->