.add-label-container {
    padding: 0px 15px;
}
.sub-text {
    font-size: 14px;
    font-weight: 500;
    margin-left: 23px;
    margin-top: 10px;
}
.card-header {
    width: 600px;
    height: 40px;
    background: rgba(200, 200, 200, 0.3);
    padding-top: 13px;
    .title1 {
        grid-column: 1;
        grid-row: 2;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: #000000;
        padding-left: 25px;
    }
}

.fields-align{
    margin-left: -30px;
}

.form {
    align-self: start;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-rows: min-content;
    gap: 6px;
    // margin-bottom: 25px;
    // margin-top: 10px;

    .field {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0px 0px 15px 25px;
        .label {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            // color: #595959;
            // padding-left: 8px;
            // margin-left: 20px;

            span {
                color: #595959;
            }
        }
        .label1 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #000000;
            margin-left: -28px;
        }

        input {
            width: 308px;
            height: 35px;
            left: 66px;
            top: 257px;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 21px;
            background: #FFFFFF;
            color: #9A9A9A;
            border: 1px solid #D9D9D9;
            border-radius: 5px;
            padding-left: 12px;
            // margin-left: 25px;
            margin-top: 5px;
        }
        .small-text {
            font-size: 10px;
            margin-top: 2px;
        }
        .card1 {
            width: 610px;
            height: 104px;
            margin: 10px;
            background: rgba(238, 238, 238, 0.3);
            border: 1px solid rgba(200, 200, 200, 0.3);
            border-radius: 5px;
            .column {
                float: left;
                width: 50%;
                padding: 10px;
                height: 300px; /* Should be removed. Only for demonstration */
              }
        }
    }
}
.dropdown-option {
    width: 350px;
    height: 39px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    padding-left: 12px;
    margin-left: 25px;
     margin-top: 5px;
 }
 .submit {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 7px 16px;
    /* gap: 10px; */
    position: absolute;
    width: 70px;
    height: 35px;
    margin-left: 45px;
    background: #285DD9;
    color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #285DD9;
    cursor: pointer;
  }
  
  .cancel {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 7px 16px;
    gap: 10px;
    position: absolute;
    width: 95px;
    height: 35px;
    margin-left: 125px;
    background: #BABFD1;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #BABFD1;
  }
  .footer {
    margin-top: 6px;
    margin-left: -20px;
  }
  .divider {
    height: 0px;
    border: 0.1px solid rgba(200, 200, 200, 0.5);
    margin-top: -15px;
}
.divider1 {
    height: 0px;
    border: 0.1px solid rgba(200, 200, 200, 0.5);
    margin-top: 10px;
}
.close {
    margin-left: 220px;
    border: 1.5px solid #A2ABAB;
    border-radius: 13px;
    width: 25px;
    height: 25px;
    color: #A2ABAB;
    cursor: pointer;
}
.column1 {
margin-left: 50px;
margin-top: 4px;
}
.column2 {
    margin-left: 300px;
    margin-top: -21px;
}



.select-container {
    display: grid;
    grid-template-columns: 217px 217px;
    gap: 15px;
    // margin-left: 27px;
    // padding: 10px;
    background: #F9F9F9;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    width: 47%;
    margin-left: 25px;
    margin-top: 35px;
    padding-top: 5px;

    .instance-list {
        display: grid;
        grid-template-columns: 1fr;
        padding: 8px 0px;
        line-height: 21px;
        align-items: center;
        // color: #FEFEFE;
        cursor: pointer;
        margin: 0px 0px 0px -15px;
        gap: 5px;
    }
    .subscription {
        margin-left: -16px;
        font-weight: 700;
        font-size: 14px;
        border-top: 1px solid #D9D9D9;
        border-bottom: 1px solid #D9D9D9;
        padding-top: 5px;
        width: 458px;
        // padding-left: 10px;
        padding-bottom: 5px;
    }
    .instance {
        // margin-left: 15px;
        font-weight: 400;
        font-size: 12px;
        color: #1A2128;
        background: #CCE2FF;
        padding: 0px 10px;
        border-radius: 50px;
        // margin-left: -10px;
        margin-right: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 205px;
        // display: flex;
        // flex-direction: row;
    }

}

.card {
    background: rgba(200, 200, 200, 0.3);
    border: none;
    border-radius: 0px;
    height: 40px;
    padding: 13px;
    margin-top: 10px;

    .title1 {
        grid-column: 1;
        grid-row: 2;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #000000;
        padding-left: 10px;
        margin-top: -5px;
      }
  }

.body {
    background: #ffffff;
}
.account-dropdown {
    margin-left: 30px;
    margin-right: 20px;
}
.tenant-dropdown {
    margin-right: 20px;
}
.subscription-dropdown {
    margin-right: 20px;
}
// .selected-list {
//     margin-left: 500px;
//     margin-top: -25px;
// }

.select-container1 {
    display: grid;
    grid-template-columns: 217px 217px;
    gap: 15px;
    margin-left: 10px;
    // padding: 10px;
    background: #F9F9F9;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    width: 47%;
    margin-top: 35px;
    padding-top: 5px;

    .instance-list {
        display: grid;
        grid-template-columns: 1fr;
        padding: 8px 0px;
        line-height: 21px;
        align-items: center;
        // color: #FEFEFE;
        cursor: pointer;
        margin: 0px 0px 0px -15px;
        gap: 5px;

        .subscription {
            margin-left: -16px;
            font-weight: 700;
            font-size: 14px;
            border-top: 1px solid #D9D9D9;
            border-bottom: 1px solid #D9D9D9;
            padding-top: 5px;
            // width: 458px;
            // padding-left: 10px;
            padding-bottom: 5px;
        }

        .instance {
            // margin-left: 15px;
            font-weight: 400;
            font-size: 12px;
            color: #1A2128;
            background: #FEE9E6;
            padding: 0px 10px;
            border-radius: 50px;
            // margin-left: 25px;
            margin-right: 10px;
            margin-top: 5px;
            margin-bottom: 5px;
            // width: 205px;
        }
    }

}
.section {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    margin-top: -35px;
    margin-left: 5px;
}
.section1 {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    // margin-left: 25px;
    margin-top: -35px;
}

.footer {
    grid-column: 1;
    grid-row: 4;
    display: flex;
    grid-template-columns: auto auto auto;
    place-items: center;
    width: 100%;
    padding: 15px 35px;

    .primary-button{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        padding: 5px 24px;
        color: #FFFFFF;
        background: #285DD9;
        border: 1px solid #285DD9;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 10px;
    }

    .cancel-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        padding: 5px 24px;
        color: white;
        border: 1px solid #BABFD1;
        background-color: #BABFD1;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 15px;
    }

    .left {
        grid-column: 1;
    }

    .center {
        grid-column: 2;
    }

    .right {
        grid-column: 3;
    }
}
.closebtn {
    padding-right: 5px;
    color: #FFFFFF;
    font-weight: 400;
    float: right;
    font-size: 16px;
    cursor: pointer;
    padding-top: 5px;
    // margin-top: -1px;
  }
  
  .closebtn:hover {
    color: #FFFFFF;
  }

  .align-flex{
    display: flex;
    flex-direction: row;
}

  @media only screen and (max-width: 1023px) and (min-width: 768px) {

    .subscription-dropdown {
        margin-top: 60px;
        margin-left: -385px;
    }
    .resource-dropdown {
        margin-top: 60px;
    }
    .select-container1 {
        width: 45%;
        .instance-list {
            width: 40%;
        }
        .subscription {
        width: 225px;
        }
        .instance {
            width: 49%;
        }
    }
    .select-container {
        .instance-list {
            width: 60%;
        }
        .subscription {
        width: 225px;
        }
    }
}
    
  @media only screen and (max-width: 1401px) and (min-width: 1201px){
    .select-container1 {
        .instance-list {
            width: 60%;
        }
        .subscription {
        width: 458px;
        }
    }
  }

  @media only screen and (max-width: 2800px) and (min-width: 2560px){
    .select-container1 {
        .instance-list {
            width: 80%;
        }
        .subscription {
        width: 1050px;
        }
        .instance {
        width: 30%;
        }
    }
    .select-container {
        .instance-list {
            width: 80%;
        }
        .subscription {
        width: 1050px;
        }
        .instance {
        width: 30%;
        }
    }
  }

  @media only screen and (max-width: 1801px) and (min-width: 1440px){
    .select-container1 {
        .instance-list {
            width: 80%;
        }
        .subscription {
        width: 535px;
        }
        .instance {
        width: 47%;
        }
    }
    .select-container {
        .instance-list {
            width: 80%;
        }
        .subscription {
        width: 535px;
        }
        .instance {
        width: 47%;
        }
    }
  }

  @media only screen and (max-width: 1200px) and (min-width: 1024px){
    // .form-align{
    //   width: 100%;
    //   overflow-x: scroll;
    // }
    // .form{
    //   width: 130%;
    // }
    .select-container {
        width: 40%;
        .instance-list {
            width: 50%;
        }
        .subscription {
        width: 92%;
        }
        .instance {
        width: 38%;
        }
    }
    .select-container1 {
        width: 40%;
        .instance-list {
            width: 50%;
        }
        .subscription {
        width: 92%;
        }
        .instance {
        width: 38%;
        }
    }
  }
  .new-label {
    margin-top: 15px;
  }

  .resource-dropdown {
    margin-right: 20px;
}

.align-flex1{
    display: flex;
    flex-direction: row;
}
.customIconSize {
    color: white;
    padding-right: 5px;
    font-weight: 400;
    float: right;
    font-size: 16px;
    cursor: pointer;
    padding-top: 5px;
  }

  .fa {
    margin-right: 2px;
    float: right;
    padding-top: 4px;
  }
  ol{
    width: 27em;
    list-style: none;
}
ol li{
    float: left;
    width: 10em;
}