<div class="add-schedule-container">
    <div class="message">
        <div class="text-icon">
            <button mat-raised-button (click)="navigateSchedule()">
                <mat-icon>add</mat-icon>Create New Schedule</button>
            <!-- <span>Create New Schedule</span>
            <img src="/assets/icons/add.png" alt="add"> -->
        </div>
        <div class="section" *ngIf="availableSchedules.length>2">
            <p>Please choose the schedule to be applied on the selected label {{name}}:</p>
            <p><i>Note that all instances that belong to the selected Label will be scheduled, unless it is specifically
                flagged with “Do Not Schedule”.</i></p>
        </div>
        <div class="section dropdown-align" *ngIf="availableSchedules.length>2">
            <app-avms-dropdown-large [lookup]="availableSchedules" [selectedValue]="selectedSchedule" (selectedValueChange)="scheduleChanged($event)"></app-avms-dropdown-large>
        </div>
        <div *ngIf="availableSchedules.length==2" class="text-icon-center">
            <div>
                <span (click)="navigateSchedule()">Click Here</span>
                to start saving money.
            </div>
        </div>
    </div>
</div>