@import "src/app/styles/_globals.scss";

.sw-container {
    // display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    // width: 243px;
    // height: 219px;
    background: #333333;
    border: 2px solid #4FCCCB;
    border-radius: 4px;
    align-items: center;
    padding: 15px;
}

.title {
    // display: grid;
    grid-template-columns: 1fr auto;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 29px;
    color: white;    
    // margin: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sw-content {
    display: grid;
    margin: 10px 0px 10px 0px;
    height: 100px;
    padding-right: 5px;
}

.sw-scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100px;
}

.sw-scroll::-webkit-scrollbar {
    width: 5px;
}

.sw-scroll::-webkit-scrollbar-track {
    background: #5E5867;;
}

.sw-scroll::-webkit-scrollbar-thumb {
    background: #63FFFE;;
}

.sw-scroll::-webkit-scrollbar-thumb:hover {
    background: yellow;
}

.instance {
    grid-template-columns: auto;
    font-weight: 400;
    font-size: 9px;
    line-height: 14px;
    color: #FEFEFE;
}

.instance-text {
    padding-right: 5px;
    cursor: pointer;
}

.level {
    // align-self: start;
    // justify-self: end;
    text-align: end;
    cursor: pointer;
}

.level-1 {
    color: #FFFF00;
}

.level-2 {
    color: #FFBC10;
}

.level-3 {
    color: #FD2AF4;
}


.divider {
    grid-column: 1 / -1;
    width: 167px;
    height: 1px;
    background: rgba(217, 217, 217, 0.2);
    transform: matrix(1, 0, 0, -1, 0, 0);
    margin-bottom: 6px;
}


.link {
    margin-top: -30px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    text-decoration-line: underline;
    color: #4FCCCB;
    z-index: 999;
}

.bottom-link {
    grid-column: 1 / -1;
    margin: 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    color: #63FFFE;
    cursor: pointer;
}

@media only screen and (max-width: $bp-large) {
    // .sw-container {
    //     width: unset;
    // }

    .instance {
        grid-template-columns: auto auto;
        line-height: 30px;
        margin-right: 10px;
    } 

    .divider {
        width: 100%;
        margin-bottom: 0;
    }
    
}
