:host {
    display: grid;
    grid-template-columns: 1fr;
}
.accounts-container {
    // display: grid;
    // grid-template-columns: 1fr;
    // grid-template-rows: repeat(5, auto);
    padding: 0px 15px;
}

.accounts-header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    grid-gap: 10px;

    .title {
        grid-column: 1;
        grid-row: 2;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        color: #000000;
        // margin-bottom: 20px;
    }

    .text-icon {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-items: end;
        gap: 10px;

        span {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            text-align: right;
            letter-spacing: -0.01em;
            color: #6DFAD8;
        }
    }

    .right {
        grid-column: 2;
    }
}

.instance-align{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 42px;
    margin-left: 15px;
}
.accounts-dashboard {
    display: flex;
    justify-content: space-between;
    // display: grid;
    // grid-template-columns: 1fr auto;
    // grid-template-rows: 1fr 1fr;
    // column-gap: 10px;
    // row-gap: 10px;
    // padding: 6px 0px;
    // margin-left: -13px;
    // margin-top: -43px;
.side-align{
    width: 24%
}
    .main-section {
        // width: 775px;
        // grid-column: 1;
        // grid-row: 1 / -1;
        // display: grid;
        // grid-template-rows: auto 1fr;
        // gap: 4px;
        background: #FFFFFF;
        width: 75%;
        // margin-left: -5px;
        // height: 397px;
        border-radius: 5px;
        // border: 1px solid rgba(200, 200, 200, 0.3);
        // padding: 15px 17px;

        .middle-title {
            display: grid;
            grid-column: 1 / -1;
            grid-auto-flow: column;
            grid-auto-columns: max-content;
            align-items: center;
            gap: 30px;
            font-weight: 600;
            font-size: 14px;
            line-height: 29px;
            color: #000000;
            margin-left: 20px;
        }

        .controls {
            display: flex;
            // grid-auto-flow: column;
            // grid-auto-columns: min-content;
            // gap: 12px;
            // margin-top: 8px;
            margin-left: 10px;
        }

    }

}

.accounts-info-container {
    // height: 98px;
    background: #FFFFFF;
    // margin-left: -5px;
    margin: 15px 0px 15px 0px;
    padding: 10px 0px;
    display: flex;
    justify-content: space-evenly;
}
.group-cards{
    width: 19%;
    background-color: #F5F6FA;
    display: flex;
    padding: 6px 10px;
    align-items: center;
}

.group-card-head{
    color: #285DD9;
    font-size: 25px;
    line-height: 38px;
    font-weight: 500;
}
.group-card-text{
    color: #161F26;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.icon-container {
    display: flex;
    justify-content: center;
    place-items: center;
    width: 70px;
    height: 70px;
    // border-radius: 50%;
    border-width: 5px;
    // margin-left: 10px;
    border-right: 1px solid #D9D9D9;
}
.mar-rt10{
    margin-right: 10px;
}

.side-widget-2 {
    position: relative;
    // margin-left: -47px;
}
.side-widget-1 {
    position: relative;
    // margin-left: -47px;
    // margin-top: -23px;
}
.vector-image {
    width: 20px;
    height: 20px;
    // margin-top: -122px;
    // margin-left: -7px;
}
.vector-image1 {
    width: 20px;
    height: 20px;
    // margin-left: -23px;
    // margin-top: -10px;
}
.card-alignment{
    display: flex;
    align-items: center;
    height: 42px;
    margin-left: 15px;
}
.pad-lt10{
    padding-left: 10px;
}
.check-schedule {
  text-decoration: underline;
  font-size: 14px;
  margin-left: 44px;
  color: #285DD9;
  cursor: pointer;
}

.search-instance {
    position: absolute;
    top: 30px;
}
.mar-tp4{
    margin-top: 4%
}

.text-text {
    margin-left: -7px;
    margin-top: 10px;
}

.hide {
    display: none;
}

.card1 {
    height: 50px;
    background: rgba(200, 200, 200, 0.3);
    // padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title3 {
        grid-column: 1;
        grid-row: 2;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #000000;
        padding-left: 15px;
    }
    .filter {
        // background: #ffffff;
        // border-radius: 5px;
        margin-left: 590px;
        // width: 152px;
        margin-top: -33px;
        // border: 1px solid rgba(22, 31, 38, 0.2);
    }
}
.accounts-table-host {
    // width: 1000px;
    background: #FFFFFF;
    border-radius: 5px;
    // margin-left: -5px;
    // margin-left: -790px;
    margin-top: 10px;
    padding-bottom: 1px;

    .title {
        font-weight: 600;
        font-size: 14px;
        line-height: 29px;
        color: #B9BCCA;
    }
}

.accounts-table-container {
    background-color: rgba(255, 255, 255, 0.25);
    margin-top: 20px;
    padding: 15px;
    border-radius: 12px;
}

.accounts-table-controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    margin: 10px 20px;
    gap: 21px;

    &__left {
        @extend .accounts-table-controls;
        justify-self: start;
        margin: 0;
    }

    &__right {
        @extend .accounts-table-controls;
        justify-self: end;
        align-items: center;
        font-size: 12px;
        font-weight: 400;

        .bold {
            font-weight: 600;
        }
    }
}

.accounts-table {
    display: grid;
    grid-template-columns: auto repeat(6, 1fr) max-content;
    background: rgba(238, 238, 238, 0.3);
    border: 1px solid rgba(200, 200, 200, 0.3);
    border-radius: 5px;
    color: #000000;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.header-column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // padding: 0 2px;
    gap: 5px;
    background: rgba(238, 238, 238, 0.3);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 13px;
    color: #333333;
    width: 100%;
    height: 56px;
}

.corner-top-left {
    background: rgba(238, 238, 238, 0.3);
    border-radius: 16px 0 0 0;
    padding: 0;
}

.corner-top-right {
    border-radius: 0 16px 0 0;
    padding: 0;
    width: 77px;
}

.table-row {
    display: contents;
    font-size: 11px;
    color: #333333;
}

.table-layout{
    margin: 15px;
}

.sub-table-row {
    display: contents;
    font-size: 11px;
    color: #333333;
    background-color: rgba(237, 238, 243, 1);
    
}

.table-row div {
    margin: 10px 5px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #000000;
    cursor: pointer;
    padding: 5px 10px;
}

.sub-item {
    @extend .item;
    background: rgba(238, 238, 238, 0.3);
}

.divider {
    grid-column: 1/-1;
    padding: 0;
    border-bottom: 1px solid #E0E7ED;
    width: 100%;
}

.recommendation-yes {
    color: #FF0000;
}
.hand{
    cursor: pointer;
}
.trending {
    // display: grid;
    // grid-template-columns: auto auto;
    // gap: 5px;
    // place-items: center;
    font-size: 14px;
    font-weight: 600;

    &-up {
        @extend .trending;
        color: rgba(24, 171, 86, 1);
    }

    &-down {
        @extend .trending;
        color: rgba(255, 0, 0, 0.71);
    }
}

.saving{
    padding-left: 5px;
}
.row-controls {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

.hilite {
    padding: 8px;
    border-radius: 8px;
    font-weight: 600;

    &-green {
        @extend .hilite;
        color: rgba(24, 171, 86, 1);
        background-color: #F0FFF8;
    }

    &-red {
        @extend .hilite;
        color: rgba(235, 87, 87, 1);
        background-color: rgba(255, 240, 240, 1);
    }
}


.per-page-dropdown-container {
    background-color: transparent;
    color: #000000;
    padding-left: 6px;
    border: 1px solid rgba(22, 31, 38, 0.2);
    border-radius: 8px;
    font-size: 12px;
    height: 36px;
    width: 75px;
    margin-left: 10px;
}


.accounts-table-navigation {
    justify-self: end;
    margin: 15px;
    display: block;
}

.tooltip-host {
    position: relative;
    display: inline-block;

    .tooltip-container {
        visibility: hidden;
        position: absolute;
        z-index: 1;
        top: -55px;
        left: 54px;
    }

    &:hover .tooltip-container {
        visibility: visible;
    }
}

.card {
    background: rgba(200, 200, 200, 0.3);
    // width: 775px;
    height: 51px;
    border: none;
    border-radius: 0px;
  }
.mini-card {
    // width: 97%;
    // height: 320px;
    // background: rgba(238, 238, 238, 0.3);
    // border-radius: 5px;
    // margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    // height: 261px;
}
.demo-paginator {
    // width: 600px;
    // margin-top: -40px;
    height: 0px !important;
    // margin-left: 240px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #161F26;
    display: flex;
    align-items: center;
    margin-right: 45px;
}
.paginator1 {
    margin-left: 325px;
    margin-top: 19px;
}
.paginator2 {
    margin-left: 510px;
    margin-top: -28px;
}
table {
    width: 100% !important;
    table-layout: fixed;
  }
  .unseen{
    display:none;
  }
 .table-bottom15{
    margin-bottom: 15px;
 }
 .mar-tp15{
    margin-top: 15px;
 }
 
//   @media screen and (min-width: 481px) and (max-width: 768px) { 
//     .accounts-dashboard {
//         overflow: auto;
//         .main-section {
//             min-width: 300px;
//             max-width: 300px;
//         .card {
//             max-width: 300px;
//         }
//           .middle-title {
//             gap: 2px;
//             margin-left: 0px;
//           }
    
//           .controls {
//             gap: 0px;
//           }
//         }
//       }
//       .demo-paginator {
//         margin-left: 50px;
//       }
//   }

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .accounts-dashboard {
        .main-section {
            // min-width: 600px;
        //   margin-left: 100px;
        // .card {
        //     max-width: 600px;
        // }
        //   .middle-title {
        //     gap: 2px;
        //     margin-left: 0px;
        //   }
    
          .controls {
            gap: 0px;
          }
        }
      }
    
  }
  
  @media screen and (min-width: 1201px) and (max-width: 1800px) {
    .accounts-dashboard {
        .main-section {
            // max-width: 950px;
        //   margin-left: 100px;
        // .card {
        //     max-width: 950px;
        // }
          .middle-title {
            gap: 2px;
            margin-left: 5px;
          }
    
          .controls {
            gap: 0px;
          }
        }
      }
  }
  @media screen and (min-width: 1801px) and (max-width: 2560px) {
    .accounts-dashboard {
        .main-section {
            // max-width: 1860px;
        //   margin-left: 100px;
        // .card {
        //     max-width: 1860px;
        // }
          .middle-title {
            gap: 19px;
            margin-left: 5px;
          }
    
          .controls {
            gap: 0px;
          }
        }
      }
    //   .demo-paginator {
    //     margin-left: 1315px;
    //   }
  }

  @media only screen and (max-width: 1230px) and (min-width: 1024px){
    .middle-title{
        width: 35.5rem;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .card{
        width: 100%;
    }
    .days-dropdown{
        margin-left: 0px;
    }
    .new-insta-align{
        margin-top: -10px;
        padding-left: 5px;
    }
    .demo-paginator {
        margin-left: 7px;
      }
  }
  @media only screen and (max-width: 1359px) and (min-width: 1230px){
    .new-insta-align{
        margin-top: -10px;
        padding-left: 5px;
    }
  }
  @media only screen and (max-width: 1390px) and (min-width: 1360px){
    .new-insta-align{
        margin-top: 0px;
        padding-left: 5px;
    }
  }
  @media only screen and (max-width: 1023px) and (min-width: 768px){
    .middle-title{
        width: 31rem;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .card{
        width: 100%;
    }
    .accounts-dashboard{
        display: block;
    }
    .main-section{
        width: 100% !important;
    }
    .side-align{
        width: 100% !important;
    }
    .accounts-info-container{
        display: block;
    }
    .group-cards{
        width: 100%;
        margin-bottom: 10px;
    }
    .accounts-table{
        width: 159%;
    }
    .accounts-info-container{
        padding: 10px 10px;
    }
    .account-table-align{
        width: 100%;
        overflow-x: scroll;
    }
    .card1{
        display: flex;
        height: 56px;
    }
    .demo-paginator{
        padding-top: 5px;
        padding-left: 15px;
    }
    .detail-table-modified{
        width: 270%;
     }
     .detail-table-align{
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
     }
  }


  .example-detail-row {
    height: 0;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .detail-table {
    background: #b7b7b773;
    text-align: left;
  }
  .detail-table th{
    padding-left: 15px;
  }
  .detail-table td{
    padding-left: 15px;
  }

// th.mat-header-cell {
//   text-align: center !important;
// }

.tables-container {
    max-height: 440px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .tables-container1 {
    max-height: 270px;
    overflow-y: scroll;
    overflow-x: hidden;
  }