<div class="add-institution-branch-modal">
  <div class="add-institution-branch-modal__header">
  <div class="header">Save New Filter</div>
  <i class="fa fa-times-circle add-institution-branch-modal__close" (click)="close()"></i>
  </div>
  <div class="institution-user-stats__main branch-modal">
  <form [formGroup]="Form">
  <div class="message">
      <div>
  <div class="label">Filter Criteria:</div>
  <div>
   <select class="account" (change)="accountSelected($event)">
    <option [value]="0" disabled selected>{{ accountsLookup[0].description }}</option>
    <ng-container *ngFor="let data of accountsLookup; let i = index">
      <option *ngIf="i > 0" [selected]="selectedAccount === data.id" [value]="data.id">{{ data.description }}</option>
    </ng-container>
        </select>
  
    </div>
     <div>
        <select class="account" (change)="tenantSelected($event)">
          <option [value]="0" disabled selected>{{ tenantsLookup[0].description }}</option>
            <ng-container *ngFor="let data of tenantsLookup; let i = index">
              <option *ngIf="i > 0" [selected]="selectedTenant === data.id" [value]="data.id">{{ data.description }}</option>
            </ng-container>
        </select>
      </div>
      <div>
          <select class="account" (change)="subscriptionSelected($event)">
            <option [value]="0" disabled selected>{{ subscriptionsLookup[0].description }}</option>
            <ng-container *ngFor="let data of subscriptionsLookup; let i = index">
              <option *ngIf="i > 0" [selected]="selectedSubscription === data.id" [value]="data.id">{{ data.description }}</option>
            </ng-container>
            </select>
      </div>
  <div>
      <select class="account" (change)="resourceGroupSelected($event)">
        <option [value]="0" disabled selected>{{ resourceGroupLookup[0].description }}</option>
        <ng-container *ngFor="let data of resourceGroupLookup; let i = index">
          <option *ngIf="i > 0" [selected]="selectedResourceGroup === data.id" [value]="data.id">{{ data.description }}</option>
        </ng-container>
        </select>
  </div>
  <div *ngIf="filter != 'cpu'">
      <select class="account" (change)="providerSelected($event)">
        <option [value]="0" disabled selected>{{ providersLookup[0].description }}</option>
        <ng-container *ngFor="let data of providersLookup; let i = index">
          <option *ngIf="i > 0" [selected]="selectedProvider === data.id" [value]="data.id">{{ data.description }}</option>
        </ng-container>
        </select>
  </div>
  <div *ngIf="filter === 'cpu'">
    <select class="account" (change)="instanceSelected($event)">
      <option [value]="0" disabled selected>{{ instancesLookup[0].description }}</option>
        <ng-container *ngFor="let data of instancesLookup; let i = index">
          <option *ngIf="i > 0" [selected]="selectedInstance === data.id" [value]="data.id">{{ data.description }}</option>
        </ng-container>
      </select>
  </div>
  </div>
  <div class="filter">
  <div class="section">
      <div class="label">Filter Name:</div>
      <div>
          <input (keydown)="avoidSpaceAtStart($event)" formControlName="filterName" class="message__firstName" type="text">
      </div>
      </div>
  <div class="section">
      <div class="label">Filter Description:</div>
      <div>
          <textarea (keydown)="avoidSpaceAtStart($event)" formControlName="filterDescription" class="message__email" cols="23" type="text"></textarea>
      </div>
      </div>
      <div class="buttons">
          <button *ngIf= "this.filter === 'savings' || this.filter === 'costs'" appDisableForSomeTime [disabled]="this.selectedAccount ==='0' || !this.Form.controls['filterName'].value" type="submit" class="submit" (click)="onSubmit()">Add</button>
          <button *ngIf="this.filter === 'cpu'" appDisableForSomeTime [disabled]="this.selectedAccount ==='0' || this.selectedTenant ==='0' || this.selectedSubscription ==='0' || this.selectedResourceGroup ==='0' || this.selectedInstance ==='0' || !this.Form.controls['filterName'].value" type="submit" class="submit" (click)="onSubmit()">Add</button>
          <button type="cancel" (click)="close()" class="cancel">Cancel</button>
        </div>
  </div>
  </div>
  </form>
  </div>
  
  </div>