<div class="logout-confirmation-container">
    <div class="body">
            <div class="icon-danger"><img src="/assets/images/danger.svg" alt="danger"></div>
        <div class="main-text"> Logout</div>
        <div class="body sub-text">Do you really want to log out?</div>
    </div>
        <div class="footer">
            <button type="submit" class="submit" (click)="primary()">Yes</button>
        <button type="cancel" class="cancel" (click)="cancelDialog()">Cancel</button>
        </div>
    </div>
<!-- <div class="logout-confirmation-container">
    <span>Do you really want to log out?</span>
</div>
 -->
