.schedules-breadcrumbs {
  padding-left: 15px;
  padding-top: 15px;
}

.summary-cards {
  display: flex;
  margin-bottom: 20px;

  .summary-card1 {
    cursor: pointer;
    padding: 1px;
    width: 8.2%;
    height: 5%;
    top: 29px;
    left: 72.8px;
    right: 0px;
    bottom: 0px;
    text-align: center;
    font-weight: normal;
    position: relative;
    color: #a9a9a9;
    margin-right: 10px;

    &.selected {
      color: #000;
      font-weight: normal;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 32px;
        border-bottom: 2px solid blue;
      }
    }
  }

  .summary-card2 {
    cursor: pointer;
    padding: 1px;
    width: 14.5%;
    height: 5%;
    top: 29px;
    left: 61px;
    right: 0px;
    bottom: 0px;
    text-align: center;
    font-weight: normal;
    position: relative;
    color: #a9a9a9;
    margin-right: 10px;

    &.selected {
      color: #000;
      font-weight: normal;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 32px;
        border-bottom: 2px solid blue;
      }
    }
  }

  .summary-card3 {
    cursor: pointer;
    padding: 1px;
    width: 9%;
    height: 5%;
    top: 29px;
    left: 48px;
    right: 0px;
    bottom: 0px;
    text-align: center;
    font-weight: normal;
    position: relative;
    color: #a9a9a9;
    margin-right: 10px;

    &.selected {
      color: #000;
      font-weight: normal;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;

        top: 32px;
        border-bottom: 2px solid blue;
      }
    }
  }


  .summary-card4 {
    cursor: pointer;
    padding: 1px;
    width: 13%;
    height: 5%;
    top: 29px;
    left: 32px;
    right: 0px;
    bottom: 0px;
    text-align: center;
    font-weight: normal;
    position: relative;
    color: #a9a9a9;
    margin-right: 10px;

    &.selected {
      color: #000;
      font-weight: normal;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 32px;
        border-bottom: 2px solid blue;
      }
    }
  }

  .summary-card5 {
    cursor: pointer;
    padding: 1px;
    width: 8%;
    height: 15%;
    top: 29px;
    left: 20px;
    right: 0px;
    bottom: 0px;
    text-align: center;
    font-weight: normal;
    position: relative;
    color: #a9a9a9;
    margin-right: 10px;

    &.selected {
      color: #000;
      font-weight: normal;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 32px;
        border-bottom: 2px solid blue;
      }
    }
  }

}

.normal-line {
  border-bottom: 1px solid #a9a9a9;
  width: 100%;
  height: 2px;
  margin-left: 5.08%;
  margin-right: 28%;
  font-weight: normal;
  position: relative;
  top: 19.98px;
}

.text {
  margin-left: 6%;
  margin-top: 3%;
}

.background {
  background-color: white;
}

.card {
  margin: 12px;
  background-color: #f9f9f9;
  border: none;
  display: inline-block;
}

.upper-fields {
  margin-left: 3.5%;
}


.date-picker-container {

  grid-column: 1;
  grid-row: 1 / 3;
  border: 1px solid #ccc;
  padding: 5px;
  margin-left: 8.2px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 160px;
  height: 105px;
  background-color: white;
}


.date-picker-header {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}


.date-picker-field {
  width: 150px;
}


.date-input {
  text-decoration: none;
  border: none;
  align-items: left;
  text-align: left;
  outline: none;
  border-bottom: 1px solid transparent;
}

.mat-form-field-underline {
  display: none;
}

.date-toggle {
  float: right;
  margin-left: 8px;
}

.grid {
  display: grid;
}


.fields-container1 {
  grid-column: 2;
  grid-row: 1;
  border: 1px solid #ccc;
  padding: 5px;
  flex-direction: row;
  border-radius: 3px;
  width: 200px;
  height: 35px;
  margin-top: 15px;
  margin-left: -15px;
  background-color: rgb(255, 255, 255);
}

.fields-header1 {
  font-size: 12.81px;
  text-align: center;
  color: #161f26;
  font-weight: bold;

}

.fields-container2 {
  grid-column: 3;
  grid-row: 1;
  border: 1px solid #ccc;
  padding: 5px;
  width: 200px;
  height: 35px;
  border-radius: 3px;
  margin-top: 15px;
  margin-left: -15px;
  background-color: rgb(255, 255, 255);
}

.fields-header2 {
  font-size: 10px;
  text-align: center;
  color: #161f26;
  font-weight: bold;
}


.fields-container3 {
  grid-column: 4;
  grid-row: 1;
  border: 1px solid #ccc;
  padding: 5px;
  width: 200px;
  height: 35px;
  border-radius: 3px;
  margin-top: 15px;
  margin-left: -15px;
  background-color: rgb(43, 189, 237);
}

.fields-header3 {
  font-size: 12.81px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}

.fields-container4 {
  grid-column: 5;
  grid-row: 1;
  border: 1px solid #ccc;
  padding: 5px;
  width: 200px;
  height: 35px;
  border-radius: 3px;
  margin-top: 15px;
  margin-left: -15px;
  background-color: rgb(255, 255, 255);
}

.fields-header4 {
  font-size: 8px;
  text-align: center;
  color: #161f26;
  font-weight: bold;
}

.fields-container5 {
  grid-column: 6;
  grid-row: 1;
  border: 1px solid #ccc;
  padding: 5px;
  width: 200px;
  height: 35px;
  border-radius: 3px;
  margin-top: 15px;
  margin-left: -15px;
  background-color: rgb(255, 255, 255);
}

.fields-header5 {
  text-align: center;
  font-size: 13.69px;
  color: #161f26;
  font-weight: bold;
}



.fields-container6,
.fields-container7,
.fields-container8,
.fields-container9,
.fields-container10 {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 5px;
  width: 200px;
  height: 35px;
  border-radius: 3px;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-left: -15px;
  background-color: rgb(255, 255, 255);
  position: relative;

}

// .fields-container6::after,
// .fields-container7::after,
// .fields-container8::after,
// .fields-container9::after,
// .fields-container10::after {
//   content: '';
//   position: absolute;
//   bottom: 4px;
//   left: 0;
//   width: 100%;

//   border-bottom: 0.8px solid #c2c1c1;
//   z-index: 1;
// }

.filter-dropdown {
  position: absolute;
  top: 100%;
  left: -10px;
  width: 100%;
  z-index: 100;
}

.filter-form {
  background-color: #ffffff;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  width: 110%;
  height: 415px;
  overflow: hidden;
}


.filter-form input {
  padding: 5px;
  width: 100%;
  border: 3px solid #006580;
}

.instance-list {
  list-style: none;
  padding: 0;
}

.instance-list-item {
  border-bottom: 1px solid #ccc;

}

.instance-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  padding: 10px;
  width: 100%;
  text-align: left;
}

.instance-button.selected {
  background-color: rgb(87, 197, 77);
  color: white;
}

ul {
  list-style: none;
}

.filter-title::before {
  font-size: 20px;
  margin-right: 5px;
}

.filter-title::after {
  font-size: 16px;
  margin-left: 5px;
}

.close {
  font-size: 20px;
  margin-left: 10px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-bottom: 0px;
  margin-right: 10px;
}

.dots {
  font-weight: bolder;
  margin-left: 5px;
}

.tick-icon {
  font-size: 20px;
  margin-left: 5px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-bottom: 0px;
}


.filter-title {
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.filter-title h1 {
  font-size: 14px;
  background-color: white;
  margin-bottom: 0px;
}


.filter-dropdown6,
.filter-dropdown7,
.filter-dropdown8,
.filter-dropdown9 {
  position: absolute;
  top: 100%;
  left: -10px;
  width: 100%;
  z-index: 100;
}

.filter-form6,
.filter-form7,
.filter-form8 {
  background-color: #ffffff;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  width: 110%;
  height: 300px;
}

.filter-form9 {
  background-color: #ffffff;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  width: 110%;
  height: 330px;
  overflow: hidden;
}


.filter-form6 input,
.filter-form7 input,
.filter-form8 input,
.filter-form9 input {
  padding: 5px;
  width: 100%;
  border: 3px solid #006580;
}

.account-list6,
.tenant-list7,
.subscription-list8,
.resource-list9 {
  list-style: none;
  padding: 0;
}

.account-list-item6,
.tenant-list-item7,
.subscription-list-item8,
.resource-list-item9 {
  border-bottom: 1px solid #ccc;

}

.account-button6,
.tenant-button7,
.subscription-button8,
.resource-button9 {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  padding: 10px;
  width: 100%;
  text-align: left;
}

.account-button6.selected,
.tenant-button7.selected,
.subscription-button8.selected,
.resource-button9.selected {
  background-color: rgb(87, 197, 77);
  color: white;
}

ul {
  list-style: none;
  font-size: 11px;
}

.close6,
.close7,
.close8,
.close9 {
  font-size: 20px;
  margin-left: 10px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-bottom: 0px;
  margin-right: 10px;
}

.dots6,
.dots7,
.dots8,
.dots9 {
  font-weight: bolder;
  margin-left: 5px;
}

.tick-icon6,
.tick-icon7,
.tick-icon8,
.tick-icon9 {
  font-size: 20px;
  margin-left: 10px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-bottom: 0px;
}


.filter-title6,
.filter-title7,
.filter-title8,
.filter-title9 {
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.filter-title6 h1,
.filter-title7 h1,
.filter-title8 h1,
.filter-title9 h1 {
  font-size: 14px;
  background-color: white;
  margin-bottom: 0px;
}

.filter-title6::before,
.filter-title7::before,
.filter-title8::before,
.filter-title9::before {
  font-size: 20px;
  margin-right: 5px;
}

.filter-title6::after,
.filter-title7::after,
.filter-title8::after,
.filter-title9::after {
  font-size: 16px;
  margin-left: 5px;
}

.fields-container6:hover,
.fields-container7:hover,
.fields-container8:hover,
.fields-container9:hover,
.fields-container10:hover {
  border: 1px solid black;
  box-shadow: light;
}

.fields-header6,
.fields-header7,
.fields-header8,
.fields-header9,
.fields-header10 {
  font-size: 12px;
  text-align: left;
  color: rgb(88, 87, 87);
  font-weight: bold;

}

.main-container {
  display: flex;
  // margin-left: -10px;
}

.card1 {
  width: 270px;
  height: 200px;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  border-radius: 2px;
  margin-top: 10px;
}

.card1-1 {
  width: 269px;
  height: 30px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 2px;
  // padding-top: 10px;
  background-color: #f9f9f9;
  // margin-top: 61.5px;
}

.card1-1 h6 {
  text-align: left;
  color: rgb(89, 89, 89);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 92%;
  font-style: italic;
  justify-content: center;
  margin-left: 5px;

}

.card2 {
  width: 270px;
  height: 200px;
  border: 1px solid #ccc;
  margin-left: 6px;
  margin-right: 10px;
  background-color: white;
  border-radius: 2px;
  margin-top: 10px;
}

.card3 {
  width: 740px;
  height: 200px;
  border: 1px solid #ccc;
  margin-right: 40px;
  background-color: white;
  border-radius: 2px;
  margin-top: 10px;
  margin-left: 6px;
  overflow: hidden;
}


.chart-container1,
.chart-container2,
.chart-container3 {
  display: flex;
}

.chart-left h2,
.chart-middle h2 {
  font-size: 16px;
  margin-left: 8px;
  font-weight: bold;
}

.chart-left p,
.chart-middle p {
  font-size: 16px;
  margin-left: 15px;
  padding-top: 25px;

}

.chart-right h2 {
  font-size: 16px;
  margin-left: 8px;
  margin-bottom: -9px;
  font-weight: bold;
}

.chart-right h3 {
  font-size: 14px;
  margin-left: 8px;
  color: rgb(88, 87, 87);
  margin-top: 0px;
  margin-bottom: -11px;
}
.chart-right p {
  font-size: 14px;
  margin-left: 8px;
  color: rgb(0, 0, 0);
  margin-top: 0px;
  margin-bottom: -11px;
}

.card3-1 {
  width: 95.9%;
  border: 1px solid #ccc;
  margin-right: 40px;
  background-color: white;
  border-radius: 2px;
  margin-top: 15px;
  margin-left: 10px;
  height: 280px;
  overflow: hidden;
}

.card3-1 h1 {
  font-size: 16px;
  margin-left: 8px;
  font-weight: bold;
}

.line-chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 92%;
  height: 270px;
  margin-top: 4px;
}

.mini-chart-container {
  width: 90%;
  height: 100px;
  border: 1px solid #9e9e9e;
  margin-left: 50px;
  margin-top: -70px;
}


::ng-deep .line-chart-container ngx-charts-line-chart path.line {
  stroke: #689db0;
}

.card4 {
  width: 95.9%;
  border: 1px solid #ccc;
  margin-right: 40px;
  background-color: white;
  border-radius: 2px;
  margin-top: 15px;
  margin-left: 10px;
  height: 105px;
}

.card4-1 {
  width: 98.5%;
  border: 1px solid #ccc;
  margin-right: 40px;
  background-color: white;
  border-radius: 2px;
  margin-left: 11px;
  height: 40px;
  background-color: #006580;
}

.chart-below h2 {
  font-size: 16px;
  margin-top: 4px;
  margin-left: 8px;
  margin-bottom: -4px;
  font-weight: bold;
}

.chart-below h3 {
  font-size: 14px;
  margin-left: 8px;
  color: rgb(88, 87, 87);
  margin-top: 0px;
  margin-bottom: -0px;
}

.card4-1 h1 {
  font-size: 11px;
  margin-bottom: -14px;
  color: white;
  margin-left: 4px;
}

.card4-1 h4 {
  font-size: 11px;
  color: white;
  margin-left: 4px;
  margin-top: 1px;
}

.card5 {
  width: 95.9%;
  border: 1px solid #ccc;
  margin-right: 40px;
  background-color: #f9f9f9;
  border-radius: 2px;
  margin-left: 10px;
  height: 28px;
}

.card5 h1 {
  text-align: left;
  color: rgb(89, 89, 89);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 92%;
  margin-bottom: 11px;
  font-style: italic;
}

.card6 {
  width: 95.9%;
  border: 1px solid #ccc;
  margin-right: 40px;
  background-color: white;
  border-radius: 2px;
  margin-top: 15px;
  margin-left: 10px;
  height: 30px;
}

.card6 h1 {
  font-size: 11px;
  font-weight: bold;
  text-align: center;
}

.main-container2 {
  display: flex;
}

.card7-1 {
  width: 47.5%;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 2px;
  margin-top: 15px;
  margin-left: 10px;
  height: 470px;
}

.card7-2 {
  width: 47.5%;
  border: 1px solid #ccc;
  margin-right: 40px;
  background-color: white;
  border-radius: 2px;
  margin-top: 15px;
  margin-left: 10px;
  height: 470px;
}

.table1 h2 {
  font-size: 16px;
  color: #ff5f5d;
  margin-left: 9px;
}

.table2 h2 {
  font-size: 16px;
  color: rgb(255, 166, 94);
  margin-left: 9px;
}

.card8 {
  width: 95.9%;
  border: 1px solid #ccc;
  margin-right: 40px;
  background-color: white;
  border-radius: 2px;
  margin-top: 15px;
  margin-left: 10px;
  height: 300px;
  overflow: hidden;
}

table {
  border-collapse: collapse;
  height: 350px;
  width: 100%;
  table-layout: fixed;
}


th,
td {
  border: px solid #000;
  padding-right: 0px;
  padding-left: 2px;
  padding-bottom: 1px;
  padding-top: 1px;
  text-align: left;
  background-color: white;
  font-size: 12px;
  border-right: 1px solid #ccc;
}

thead th {
  border-bottom: 1px solid #000;
  font-weight: normal;
  background-color: white;
  border-top: 1px solid #ccc;
}

tbody tr:last-child td {
  border-bottom: 1px solid #ccc;
}

tbody tr:not(:last-child) td {
  border-bottom: 1px solid #ccc;
}

ngx-gauge, ngx-gauge * {
  overflow: visible !important;
}
.custom-gauge .gauge-container {
  overflow: visible !important;
}

.custom-gauge ::ng-deep .gauge-container {
  overflow: visible !important;
}

.custom-gauge {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 63px;
  margin-top: -7px;
  // height: 60px;
  margin-bottom: 28.7px;
}