<div class="schedules-breadcrumbs">
    <app-avms-breadcrumbs [breadcrumbs]="breadcrumbs"></app-avms-breadcrumbs>
</div>

<div class="summary-cards">
    <div class="summary-card1" (click)="showUserData(1)" [class.selected]="selectedSummary === 1">Summary</div>
    <div class="summary-card2" (click)="showUserData(2)" [class.selected]="selectedSummary === 2">Manage By Exceptions
    </div>
    <div class="summary-card3" (click)="showUserData(3)" [class.selected]="selectedSummary === 3">CPU uasge</div>
    <div class="summary-card4" (click)="showUserData(4)" [class.selected]="selectedSummary === 4">Recommendations</div>
    <div class="summary-card5" (click)="showUserData(5)" [class.selected]="selectedSummary === 5">Financial</div>
</div>
<div class="normal-line"></div>
<div>
    <h3 class="text">
        Graphical representation for Approved - Dashboard V2
    </h3>
</div>

<div class="background">
    <div class="card">
        <div class="upper-fields">
            <div class="grid">
            <div class="date-picker-container">
                <div class="date-picker-header">Select Your Date range</div>
                <mat-form-field class="date-picker-field">
                    <mat-label>Add Date Field</mat-label>
                    <input matInput [matDatepicker]="picker" class="date-input">
                    <mat-datepicker-toggle matSuffix [for]="picker" class="date-toggle"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="fields-container1">
                <div class="fields-header1">SUMMARY</div>
            </div>
            <div class="fields-container2">
                <div class="fields-header2">MANAGE BY EXCEPTIONS</div>
            </div>
            <div class="fields-container3">
                <div class="fields-header3">CPU USAGE</div>
            </div>
            <div class="fields-container4">
                <div class="fields-header4">RECOMMENDATIONS</div>
            </div>
            <div class="fields-container5">
                <div class="fields-header5">FINANCIAL</div>
            </div>
            <div class="fields-container6" (click)="toggleFilterForm6()">
                <div class="fields-header6">filter by Account</div>
                <div class="filter-dropdown6" *ngIf="showFilterForm6">
                    <div class="filter-form6">
                        <div class="filter-title6">
                            <h1 (click)="$event.stopPropagation()">filter by acco...</h1>
                            <span class="dots6" (click)="toggleSelectAllAccounts(); $event.stopPropagation()">⋯</span>
                            <span class="close6"
                                (click)="deselectAllAccountsAndCloseForm(); $event.stopPropagation()">X</span>
                            <div class="tick-icon6" (click)="saveAndCloseForm(); $event.stopPropagation()">✓</div>
                        </div>
                        <input type="text" (click)="$event.stopPropagation()" [(ngModel)]="searchQuery6"
                            placeholder="Search in Listbox">
                        <ul class="account-list6">
                            <li class="account-list-item6" *ngFor="let account of filteredAccounts">
                                <button class="account-button6" [ngClass]="{'selected': account.isSelected}"
                                    (click)="toggleAccountSelection(account); $event.stopPropagation();">
                                    {{ account.AccountName }} {{ account.isSelected ? '✓ ' : '' }}
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="fields-container7" (click)="toggleFilterForm7()">
                <div class="fields-header7">filter by Tenant</div>
                <div class="filter-dropdown7" *ngIf="showFilterForm7">
                    <div class="filter-form7">
                        <div class="filter-title7">
                            <h1 (click)="$event.stopPropagation()">filter by tent...</h1>
                            <span class="dots7" (click)="toggleSelectAllTenants(); $event.stopPropagation()">⋯</span>
                            <span class="close7"
                                (click)="deselectAllTenantsAndCloseForm(); $event.stopPropagation()">X</span>
                            <div class="tick-icon7" (click)="saveAndCloseForm(); $event.stopPropagation()">✓</div>
                        </div>
                        <input type="text" (click)="$event.stopPropagation()" [(ngModel)]="searchQuery7"
                            placeholder="Search in Listbox">
                        <ul class="tenant-list7">
                            <li class="tenant-list-item7" *ngFor="let tenant of filteredTenants">
                                <button class="tenant-button7" [ngClass]="{'selected': tenant.isSelected}"
                                    (click)="toggleTenantSelection(tenant); $event.stopPropagation();">
                                    {{ tenant.TenantName }} {{ tenant.isSelected ? '✓ ' : '' }}
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="fields-container8" (click)="toggleFilterForm8()">
                <div class="fields-header8">filter by Subscription</div>
                <div class="filter-dropdown8" *ngIf="showFilterForm8">
                    <div class="filter-form8">
                        <div class="filter-title8">
                            <h1 (click)="$event.stopPropagation()">filter by Subs...</h1>
                            <span class="dots8"
                                (click)="toggleSelectAllSubscriptions(); $event.stopPropagation()">⋯</span>
                            <span class="close8"
                                (click)="deselectAllSubscriptionsAndCloseForm(); $event.stopPropagation()">X</span>
                            <div class="tick-icon8" (click)="saveAndCloseForm(); $event.stopPropagation()">✓</div>
                        </div>
                        <input type="text" (click)="$event.stopPropagation()" [(ngModel)]="searchQuery8"
                            placeholder="Search in Listbox">
                        <ul class="subscription-list8">
                            <li class="subscription-list-item8" *ngFor="let subscription of filteredSubscriptions">
                                <button class="subscription-button8" [ngClass]="{'selected': subscription.isSelected}"
                                    (click)="toggleSubscriptionSelection(subscription); $event.stopPropagation();">
                                    {{ subscription.SubscriptionName }} {{ subscription.isSelected ? '✓ ' : '' }}
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="fields-container9" (click)="toggleFilterForm9()">
                <div class="fields-header9">filter by Resource Group</div>
                <div class="filter-dropdown9" *ngIf="showFilterForm9">
                    <div class="filter-form9">
                        <div class="filter-title9">
                            <h1 (click)="$event.stopPropagation()">filter by insta...</h1>
                            <span class="dots9" (click)="toggleSelectAllResources(); $event.stopPropagation()">⋯</span>
                            <span class="close9"
                                (click)="deselectAllResourcesAndCloseForm(); $event.stopPropagation()">X</span>
                            <div class="tick-icon9" (click)="saveAndCloseForm(); $event.stopPropagation()">✓</div>
                        </div>
                        <input type="text" (click)="$event.stopPropagation()" [(ngModel)]="searchQuery"
                            (ngModelChange)="filterResources()" placeholder="Search in Listbox">
                        <ul class="resource-list9">
                            <li class="resource-list-item9" *ngFor="let resource of filteredResources">
                                <button class="resource-button9" [ngClass]="{'selected': resource.isSelected}"
                                    (click)="toggleResourceSelection(resource); $event.stopPropagation();">
                                    {{ resource.ResourceName }} {{ resource.isSelected ? '✓ ' : '' }}
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="fields-container10" (click)="toggleFilterForm()">
                <div class="fields-header10">filter by Instances</div>
                <div class="filter-dropdown" *ngIf="showFilterForm">
                    <div class="filter-form">
                        <div class="filter-title">
                            <h1 (click)="$event.stopPropagation()">filter by insta...</h1>
                            <span class="dots" (click)="toggleSelectAllInstances(); $event.stopPropagation()">⋯</span>
                            <span class="close"
                                (click)="deselectAllInstancesAndCloseForm(); $event.stopPropagation()">X</span>
                            <div class="tick-icon" (click)="saveAndCloseForm(); $event.stopPropagation()">✓</div>
                        </div>
                        <input type="text" (click)="$event.stopPropagation()" [(ngModel)]="searchQuery"
                            (ngModelChange)="filterInstances()" placeholder="Search in Listbox">
                        <ul class="instance-list">
                            <li class="instance-list-item" *ngFor="let instance of filteredInstances">
                                <button class="instance-button" [ngClass]="{'selected': instance.isSelected}"
                                    (click)="toggleInstanceSelection(instance); $event.stopPropagation();">
                                    {{ instance.InstanceName }} {{ instance.isSelected ? '✓ ' : '' }}
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="fields-container13">
            <div class="fields-header13">OPTIMIZATION OVERVIEW</div>
        </div>
        <div class="fields-container14">
            <div class="fields-header14">RECOMMENDATIONS</div>
        </div>
        <div class="fields-container15">
            <div class="fields-header15">CPU ANALYSIS</div>
        </div>
        <div class="fields-container11">
            <div class="fields-header11">Instance Count</div>
            <div class="fields-header12 bold-blue">{{ selectedInstanceCount }}</div>
        </div>
        <div class="fields-container12">
            <div class="fields-header12">Schedule Count</div>
            <div class="fields-header12 bold-green">900.00%</div>
        </div>
        <div class="fields-container12-1">
            <div class="fields-header12-1">Recommendations</div>
            <div class="fields-header12 bold-green">91<sup class="sup">9</sup><sub class="sub">for instances</sub></div>
        </div>
        <div class="fields-container12-1">
            <div class="fields-header12-2">Orphaned Resources</div>
            <div class="fields-header12 bold-blue1">0<sup class="sup">0</sup><sub class="sub">for instances</sub></div>
        </div>
        <div class="fields-container12-2">
            <div class="fields-header12-3">Peak > 75%</div>
            <div class="fields-header12 bold-red">100.00%<sup class="sup">8</sup><sub class="sub">instances</sub></div>
        </div>
        <div class="fields-container12-2">
            <div class="fields-header12-4">Idle < 20%</div>
                    <div class="fields-header12 bold-orange">100.00%<sup class="sup">8</sup><sub
                            class="sub">instances</sub></div>
            </div>
            <div class="fields-container16">
                <div class="fields-header16">*based on filter selection</div>
            </div>
            <div class="fields-container17">
                <div class="fields-header17">*active schedules only</div>
            </div>
            <div class="fields-container18">
                <div class="fields-header18">*click to view your recommendations</div>
            </div>
            <div class="fields-container19">
                <div class="fields-header19">*click to view orphaned resources</div>
            </div>
            <div class="fields-container20">
                <div class="fields-header20">*click to view CPU analysis</div>
            </div>
            <div class="fields-container21">
                <div class="fields-header21">*click to view CPU analysis</div>
            </div>

            <div class="main-container">
                <div class="card1">
                    <div class="chart-container1">
                        <div class="chart-left">
                            <h2>Your Optimization Satus</h2>
                            <div id="chartdiv3" style=" height: 380px;"></div>
                        </div>
                    </div>
                </div>
                <div class="main-container">
                    <div class="card2">
                        <div class="chart-container2">
                            <div class="chart-middle">
                                <h2>Recommendations Overview</h2>
                                <div id="container"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card3">
                        <div class="chart-container3">
                            <div class="chart-right">
                                <h2>Performance Thresholds</h2>
                                <div id="container2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>