
<div class="sw-container">
    <div class="title">
        <div>Recommendations</div>
        <img src="/assets/icons/close-cyan.png" alt="close" (click)="closeClicked()">
    </div>

    <div>
        <app-avms-search (filterChange)="filterAccounts($event)"></app-avms-search>
    </div>

    <div class="sw-content sw-scroll">
        <div *ngFor="let recommendation of recommendations" class="recommendation">
            <div class="recommendation-text" (click)="clicked(recommendation)" [routerLink]="['/recommendations', recommendation.id]">{{ recommendation.text }}</div>
            <div class="level" [ngClass]="'level-' + recommendation.level" (click)="clicked(recommendation)">{{ getLevelText(recommendation) }}</div>
            <div class="divider"></div>
        </div>
        
        <ng-content>
        </ng-content>

    </div>

    <div class="bottom-link" [routerLink]="['/recommendations']">Show All Recommendations</div>

</div>
