
.dropdown-border {
    display: grid;
    background-color: transparent;
    border-radius: 8px;
    grid-template-columns: min-content min-content;
    align-items: center;
    width: fit-content;
    // margin-left: 30px;
}

.dropdown-container {
    color: #334353;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #BABFD1;
    padding: 0 6px 0 6px;
    font-size: 12px;
    font-weight: 300;
    height: 30px;
    width: 178px;
    option {
        background-color: rgb(255, 255, 255);
    }
}

select:focus {
    outline: none;
}
