.xxxxxxxxxxxcontainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
}
.text-align{
    margin: 15px 0px 0px 0px;
}
.apply-schedule-container {
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto min-content;
    gap: 30px;
    background: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    padding: 20px 30px;

    .warning {
        height: 99px;
        background: #FFF0F0;
        border: 1px solid #F41818;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #FA0A0A;
        padding: 15px;
        text-justify: center;
        text-align: center;
    }
    
    .final {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        padding: 12px 0px 12px 20px;
        gap: 8px;
        background: #D4EDDA;
        border: 1px solid #C3E6CB;
        border-radius: 4px;
    
        .title {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #155724;
        }
    
        .message {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #155724;
        }
    }

    .subscription-list {
        display: grid;
        gap: 13px;
        grid-auto-rows: min-content;
        overflow-y: scroll;
        max-height: 120px;

        .subscription-item {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            color: #FEFEFE;
            background: rgba(35, 62, 110, 0.35);
            border-radius: 4px;
            padding: 16px 12px;
        }
    }

    .text-icon {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        justify-items: end;
        // gap: 10px;
        cursor: pointer;
        button {
            font-weight: 400;
            font-size: 14px;
            color: #FFFFFF;
            background: #285DD9;
            border-radius: 5px;
            border: none;
            width: 195px;
            height: 35px;
            text-align: center;
        }
        span {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            text-align: right;
            letter-spacing: -0.01em;
            color: #6DFAD8;
        }
    }

    .text-icon-center {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        justify-items:center;
        gap: 10px;
        margin-left: -30px;
        span {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            text-align: right;
            letter-spacing: -0.01em;
            color: #6DFAD8;
            cursor: pointer;
        }
    }
}
