/* You can add global styles to this file, and also import other style files */

@import '@angular/cdk/overlay-prebuilt.css';
@import "src/app/styles/_globals.scss";
@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '~ngx-toastr/toastr.css';
@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
}


* {
  font-family: Poppins, Arial, sans-serif;
}

body {
  margin: 0 !important;
}

.navlink {
  cursor: pointer;
}


.mat-tab-group>.mat-tab-header>.mat-tab-label-container>.mat-tab-list>.mat-tab-labels {
  .mat-tab-label[role^='tab'] {
    min-width: 70px;
  }
}

.saving-chart {
  background: rgba(238, 238, 238, 0.3);
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.p-datatable .p-datatable-thead>tr>th {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #161F26;
  text-align: left;
  padding: 1rem 1rem;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
  word-wrap: break-word !important;
  background: #ffffff !important;
  white-space: nowrap;
}

th.mat-header-cell {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  background: rgba(238, 238, 238, 0.3);
  border-radius: 5px
}

.search-container {
  width: 40%;
  height: 20%;
  padding: 0.6rem !important;
}

.table-container {
  max-height: 390px;
  overflow: auto;
}


.sort-icon {
  width: 15px;
  height: 15px;
  color: #757575;
}

.text1 {
  margin-left: 5px;
}

html,
body {
  height: 100%;
}

body {

  html,
  body {
    height: 100%;
  }

  margin: 0;

  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  font-family: Roboto,
  "Helvetica Neue",
  sans-serif;
}

td.mat-cell,
td.mat-footer-cell {
  padding: 4px;
  word-break: break-all;
}

th.mat-header-cell {
  padding-left: 10px !important;
  padding-right: 5px !important;
}

td.mat-cell {
  padding-left: 10px !important;
  padding-right: 5px !important;
}

.temp-hidden {
  visibility: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #B9BCCA;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
  border-radius: 5px;
}

.table-header {
  top: 0;
  position: sticky;
  background-color: #f8f8f8;
  z-index: 1;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-dialog-container .mat-dialog-container {
  padding: 0px;
  overflow: unset
}

.filter-icon1 {
  margin-top: 25px;
  color: #000000;
  width: 15px;
  height: 15px;
  font-size: 25px;
  font-weight: 600;
}

.iframeStyle {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
}

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.error-symbol {
  font-size: 5em;
  margin-bottom: 0.6em;
  color: #d46e0e;
}

.error-code {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.6em;
}

.error-heading {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.error-message {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.error-recommendation {
  font-size: 1em;
}

.mat-tab-header-pagination-chevron {
  border-width: 3px 3px 0 0 !important;
  height: 10px !important;
  width: 10px !important;
  border-color: #285DD9;
}

@media screen and (min-width: 100%) and (max-width: 100%) {
.main-content {
  max-width: 80%;
  overflow-x: hidden;
}
}
.custom-dialog-container .mat-dialog-container {
  padding: 0px;
}

.mat-paginator-container {
  font-size: 14px;
}

.mat-paginator, .mat-paginator-page-size .mat-select-trigger {
  font-size: 14px;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #285DD9;
}

.mat-button, .mat-icon-button, .mat-stroked-button {
  color: #285DD9;
}

.mat-icon-button:hover {
  background: lightgrey !important;
}

.mat-select-arrow-wrapper {
height: 0px !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  padding-top: 0px !important;
}

.mat-form-field-underline {
  display: none;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #FFFFFF !important;
}

.mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

.mat-form-field-appearance-fill .mat-form-field-infix {
  margin-left: -10px;
  margin-top: -16px;
}

.mat-select-trigger {
  margin-top: 8px;
  padding-left: 6px;
}

.mat-select-value {
  color: grey !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
