.my-profile-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    padding-left: 15px;
    background: #F5F6FA;
}

.my-profile-header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    grid-gap: 10px;
    .text-icon {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-items: end;
        gap: 10px;
        margin-top: 10px;
        cursor: pointer;
        button {
            font-weight: 400;
            font-size: 14px;
            color: #FFFFFF;
            background: #285DD9;
            border-radius: 5px;
            border: none;
            width: 135px;
            height: 35px;
            text-align: center;
        }
        span {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            text-align: right;
            letter-spacing: -0.01em;
            color: #6DFAD8;
        }
    }

    .right {
        grid-column: 2;
    }
}

.my-profile-host {
    grid-column: 1;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid rgba(200, 200, 200, 0.3);
    margin-top: 10px;


    // .title {
    //     font-weight: 600;
    //     font-size: 14px;
    //     line-height: 29px;
    //     color: #B9BCCA;
    // }
}

.my-profile-content {
    background-color: rgba(255, 255, 255, 0.25);
    margin-top: 20px;
    padding: 15px;
    border-radius: 12px; 
    .my-profile-form {
        display: grid;
        grid-template-columns: auto 283px;
        padding-top: 25px;
        padding-left: 28px;
        padding-right: 28px;
        .photo{
            margin-top: -33px;
            text-align: center;
            margin-left: -330px;
        }
    }
}

.avatar-img{
    max-width: 220px;
    border-radius: 50%;
}

.property-section {
    display: grid;
    margin-bottom: 30px;
    .field-tag{
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }
    .field-value{
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }
}

.right-button {
    display: grid;
    justify-content: end;
    padding-right: 415px;
    margin-top: 20px;
}

.footer {
    margin-top: 66px;
    margin-bottom: 141px;
}
.title {
    grid-row: 2;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 27px;
    color: #161F26;
    font-family: 'Poppins';
    margin-top: -20px;
}
.icon-profile {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.content-right {
    margin-top: -250px;
    margin-left: 330px;
}
// .mat-form-field-infix {
//     display: block;
//     position: relative;
//     flex: auto;
//     min-width: 0;
//     width: 270px;
// }
.mat-form-field{
    width:270px !important;
 }

  .form-label {
    width: 97px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #161F26;  
  }
  .form-input {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    color: #595959;
  }
  ::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-outline {
       color: white;
    }
    mat-form-field {
       .mat-hint, input, ::placeholder, .mat-form-field-label {
          color: white;
       }
    }
 }
 .mat-form-field {
    font-size: inherit;
    font-weight: 400;
    line-height: 2.8;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    .active {
        font-weight: 400;
        line-height: 1.5; 
    }
}
.right-button {
    display: grid;
    margin-top: 20px;
    background: #F5F6FA;
    color: #000000;
    padding: 0 12px;
    width: 112.25px;
    height: 25px;
    place-content: center;
    border: 1px dashed rgba(22, 31, 38, 0.2);
    border-radius: 5px;
    font-weight: 400;
    font-size: 12px;
    margin-left: 410px;
    cursor: pointer;
    border-radius: 3px;
}
.mat-form-field-appearance-legacy .mat-form-field-label {
    margin-top: -15px;
}
.profile-breadcrumbs {
    margin-left: -7px;
}