.input-wrapper {
    display: flex;
    align-items: center;
    width: 200px;
    height: 36px;
    border: 1px solid #FEFEFE;
    border-radius: 8px;

    padding: 0px 10px;

    input {
        border: none;
        outline: none;
        background: none;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #63FFFE;
    }
}

.list-group {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    width: 300px;
    background: #405676;
    border: 2px solid #63FFFE;
    border-radius: 4px;

    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #FEFEFE;
    padding: 8px 16px;

    cursor: pointer;
}