<div class="container-fluid" style="background-image: url('/assets/images/unauthorized-bg.png');">
    <div class="row">
        <div class="col-lg-12 col-md-4 text-center mt-5">
            <div class="error-page">
                <div class="error-symbol">&#9888;</div>
                <div class="error-code">401</div>
                <h1 class="error-heading">Unauthorized</h1>
                <p class="error-message">You are not authorized to access this page.</p>
                <p class="error-message"><a href="#" (click)="goToLogin()">Click here to login</a></p>
            </div>
        </div>
    </div>
</div>