<div class="table-navigation-controls">
    <div *ngIf="pages.length>0" class="page-number" (click)="gotoPage(selectedPage-1)" [class.disabled]="selectedPage<=1">
        <img src="/assets/icons/previous.png" alt="previous">
    </div>
    <div *ngFor="let page of pages" class="page-number" (click)="gotoPage(page)" [class.selected-page]="page===selectedPage">{{ page }}</div>
    <div *ngIf="pages.length>0" class="page-number" (click)="gotoPage(selectedPage+1)" [class.disabled]="selectedPage>=lastPage">
        <img src="/assets/icons/next.png" alt="next">
    </div>
</div>

