.table-navigation-controls {
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    justify-content: end;
    margin-right: 5px;
}

.page-number {
    display: grid;
    place-items: center;
    padding: 4px 10px;
    background: #FFFFFF;
    color: #005ECD;
    border-radius: 50%;
    height: 35px;
    min-width: 35px;
    // padding: 7.5px;
    border: 1px solid #005ECD;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
}

.selected-page {
    background: #005ECD;
    color: #FFFFFF;
}

.disabled {
    background: #FFFFFF;
}
.footer-button {
    width: 31px;
    height: 31px;
    /* border: 1px solid #005ECD; */
    border: 1px solid #005ECD;
    border-radius: 100px;
    background: #FFFFFF;
    color: #005ECD;
    margin: 2px;
    .active {
        background: #005ECD;
        color: #FFFFFF;
    }
}